In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [2]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = "https://www.premierleague.com/stats/top/clubs/wins?co=1&se=-1"
driver.get(url)

In [3]:
time.sleep(5)

In [4]:
def create_team_id(team_name):
    if ' ' in team_name:
        parts = team_name.split()
        return parts[0][0].upper() + parts[1][:2].upper()
    return team_name[:3].upper()

In [5]:
teams_data = []

In [6]:
last_page_check = False  # Flag to detect when we've reached the last page 

while True:
    try:
        print("Waiting for the table to load...")

        # Wait for the table to be present (retry mechanism)
        WebDriverWait(driver, 15).until(
            EC.presence_of_element_located((By.CLASS_NAME, 'statsTableContainer'))
        )
        print("Table container located.")

        # Allow time for content inside the table to fully load
        time.sleep(3)

        # Fetch the table rows
        rows = driver.find_elements(By.CSS_SELECTOR, 'tr.table__row')
        print(f"Number of rows found: {len(rows)}")

        if len(rows) == 0:
            print("No rows found, trying again after waiting.")
            time.sleep(5)  # Wait longer and try again
            continue

        # Extract data from the table rows
        for row in rows:
            try:
                # Extract team name and wins
                team_name = row.find_element(By.CSS_SELECTOR, 'td.stats-table__name').text
                wins = row.find_element(By.CSS_SELECTOR, 'td.stats-table__main-stat').text

                # Create Team ID
                team_id = create_team_id(team_name)

                # Append data to list
                teams_data.append({
                    'Team_Name': team_name,
                    'Wins': wins,
                    'Team_ID': team_id
                })
                print(f"Added team: {team_name}, Wins: {wins}")

                # Stop the loop only after Swindon Town's data is added
                if team_name == "Swindon Town":
                    print("Reached the last team: Swindon Town. Exiting loop.")
                    last_page_check = True

            except Exception as row_error:
                print(f"Error processing row: {row_error}")

        if last_page_check:
            break  # Exit loop if we reached the last page

        # Try to locate and click the next button
        try:
            pagination_container = driver.find_element(By.CSS_SELECTOR, 'div.paginationContainer')

            # Find the 'Next' button within the pagination container
            next_button = pagination_container.find_element(By.CSS_SELECTOR, 'div.paginationBtn.paginationNextContainer')

            # Check if the next button is disabled
            if 'is-disabled' in next_button.get_attribute('class') and last_page_check:
                print("Reached the last page and last team. Exiting loop.")
                break  # Exit the loop if we're on the last page
            
            # Check if the button is visible and enabled
            if next_button.is_displayed() and not next_button.get_attribute('class').__contains__('is-disabled'):
                # Scroll the button into view and click it using JavaScript
                driver.execute_script("arguments[0].scrollIntoView();", next_button)
                print("Clicking the next button...")
                driver.execute_script("arguments[0].click();", next_button)
                # Wait for the next page to load
                time.sleep(3)
            else:
                print("Next button is not clickable or is disabled. Exiting loop.")
                break

        except Exception as pagination_error:
            print(f"Error in pagination: {pagination_error}")
            break

    except Exception as e:
        print(f"An error occurred: {e}")
        break

Waiting for the table to load...
Table container located.
Number of rows found: 10
Added team: Manchester United, Wins: 746
Added team: Arsenal, Wins: 676
Added team: Liverpool, Wins: 656
Added team: Chelsea, Wins: 650
Added team: Tottenham Hotspur, Wins: 542
Added team: Manchester City, Wins: 533
Added team: Everton, Wins: 439
Added team: Newcastle United, Wins: 422
Added team: Aston Villa, Wins: 396
Added team: West Ham United, Wins: 361
Clicking the next button...
Waiting for the table to load...
Table container located.
Number of rows found: 10
Added team: Southampton, Wins: 280
Added team: Blackburn Rovers, Wins: 262
Added team: Leeds United, Wins: 223
Added team: Leicester City, Wins: 218
Added team: Fulham, Wins: 192
Added team: Crystal Palace, Wins: 169
Added team: Middlesbrough, Wins: 165
Added team: Sunderland, Wins: 153
Added team: Bolton Wanderers, Wins: 149
Added team: West Bromwich Albion, Wins: 117
Clicking the next button...
Waiting for the table to load...
Table container located.
Number of rows found: 10
Added team: Stoke City, Wins: 116
Added team: Wolverhampton Wanderers, Wins: 114
Added team: Sheffield Wednesday, Wins: 101
Added team: Coventry City, Wins: 99
Added team: Norwich City, Wins: 99
Added team: Wimbledon, Wins: 99
Added team: Charlton Athletic, Wins: 93
Added team: Burnley, Wins: 88
Added team: Wigan Athletic, Wins: 85
Added team: Swansea City, Wins: 82
Clicking the next button...
Waiting for the table to load...
Table container located.
Number of rows found: 10
Added team: Bournemouth, Wins: 81
Added team: Queens Park Rangers, Wins: 81
Added team: Brighton & Hove Albion, Wins: 80
Added team: Nottingham Forest, Wins: 80
Added team: Portsmouth, Wins: 79
Added team: Birmingham City, Wins: 73
Added team: Watford, Wins: 73
Added team: Derby County, Wins: 68
Added team: Ipswich Town, Wins: 57
Added team: Sheffield United, Wins: 56
Clicking the next button...
Waiting for the table to load...
Table container located.
Number of rows found: 10
Added team: Hull City, Wins: 41
Added team: Brentford, Wins: 40
Added team: Reading, Wins: 32
Added team: Oldham Athletic, Wins: 22
Added team: Cardiff City, Wins: 17
Added team: Bradford City, Wins: 14
Added team: Huddersfield Town, Wins: 12
Added team: Barnsley, Wins: 10
Added team: Blackpool, Wins: 10
Added team: Luton Town, Wins: 6
Clicking the next button...
Waiting for the table to load...
Table container located.
Number of rows found: 1
Added team: Swindon Town, Wins: 5
Reached the last team: Swindon Town. Exiting loop.

In [7]:
df = pd.DataFrame(teams_data)
df

                  Team_Name Wins Team_ID
0         Manchester United  746     MUN
1                   Arsenal  676     ARS
2                 Liverpool  656     LIV
3                   Chelsea  650     CHE
4         Tottenham Hotspur  542     THO
5           Manchester City  533     MCI
6                   Everton  439     EVE
7          Newcastle United  422     NUN
8               Aston Villa  396     AVI
9           West Ham United  361     WHA
10              Southampton  280     SOU
11         Blackburn Rovers  262     BRO
12             Leeds United  223     LUN
13           Leicester City  218     LCI
14                   Fulham  192     FUL
15           Crystal Palace  169     CPA
16            Middlesbrough  165     MID
17               Sunderland  153     SUN
18         Bolton Wanderers  149     BWA
19     West Bromwich Albion  117     WBR
20               Stoke City  116     SCI
21  Wolverhampton Wanderers  114     WWA
22      Sheffield Wednesday  101     SWE
23            Coventry City   99     CCI
24             Norwich City   99     NCI
25                Wimbledon   99     WIM
26        Charlton Athletic   93     CAT
27                  Burnley   88     BUR
28           Wigan Athletic   85     WAT
29             Swansea City   82     SCI
30              Bournemouth   81     BOU
31      Queens Park Rangers   81     QPA
32   Brighton & Hove Albion   80      B&
33        Nottingham Forest   80     NFO
34               Portsmouth   79     POR
35          Birmingham City   73     BCI
36                  Watford   73     WAT
37             Derby County   68     DCO
38             Ipswich Town   57     ITO
39         Sheffield United   56     SUN
40                Hull City   41     HCI
41                Brentford   40     BRE
42                  Reading   32     REA
43          Oldham Athletic   22     OAT
44             Cardiff City   17     CCI
45            Bradford City   14     BCI
46        Huddersfield Town   12     HTO
47                 Barnsley   10     BAR
48                Blackpool   10     BLA
49               Luton Town    6     LTO
50             Swindon Town    5     STO

In [8]:
# Define the replacements for the specific teams
team_id_corrections = {
    'Swansea City': 'SWA',
    'Bradford City': 'BRA',
    'Coventry City': 'COV',
    'Brighton & Hove Albion': 'BHA',
    'Sheffield United': 'SHU',
    'Wigan Athletic': 'WGA'
}

# Update the Team_ID based on the team name
df.loc[df['Team_Name'] == 'Swansea City', 'Team_ID'] = team_id_corrections['Swansea City']
df.loc[df['Team_Name'] == 'Bradford City', 'Team_ID'] = team_id_corrections['Bradford City']
df.loc[df['Team_Name'] == 'Coventry City', 'Team_ID'] = team_id_corrections['Coventry City']
df.loc[df['Team_Name'] == 'Brighton & Hove Albion', 'Team_ID'] = team_id_corrections['Brighton & Hove Albion']
df.loc[df['Team_Name'] == 'Sheffield United', 'Team_ID'] = team_id_corrections['Sheffield United']
df.loc[df['Team_Name'] == 'Wigan Athletic', 'Team_ID'] = team_id_corrections['Wigan Athletic']

# Verify the changes
print(df[df['Team_Name'].isin(team_id_corrections.keys())])

                 Team_Name Wins Team_ID
23           Coventry City   99     COV
28          Wigan Athletic   85     WGA
29            Swansea City   82     SWA
32  Brighton & Hove Albion   80     BHA
39        Sheffield United   56     SHU
45           Bradford City   14     BRA

In [9]:
df

                  Team_Name Wins Team_ID
0         Manchester United  746     MUN
1                   Arsenal  676     ARS
2                 Liverpool  656     LIV
3                   Chelsea  650     CHE
4         Tottenham Hotspur  542     THO
5           Manchester City  533     MCI
6                   Everton  439     EVE
7          Newcastle United  422     NUN
8               Aston Villa  396     AVI
9           West Ham United  361     WHA
10              Southampton  280     SOU
11         Blackburn Rovers  262     BRO
12             Leeds United  223     LUN
13           Leicester City  218     LCI
14                   Fulham  192     FUL
15           Crystal Palace  169     CPA
16            Middlesbrough  165     MID
17               Sunderland  153     SUN
18         Bolton Wanderers  149     BWA
19     West Bromwich Albion  117     WBR
20               Stoke City  116     SCI
21  Wolverhampton Wanderers  114     WWA
22      Sheffield Wednesday  101     SWE
23            Coventry City   99     COV
24             Norwich City   99     NCI
25                Wimbledon   99     WIM
26        Charlton Athletic   93     CAT
27                  Burnley   88     BUR
28           Wigan Athletic   85     WGA
29             Swansea City   82     SWA
30              Bournemouth   81     BOU
31      Queens Park Rangers   81     QPA
32   Brighton & Hove Albion   80     BHA
33        Nottingham Forest   80     NFO
34               Portsmouth   79     POR
35          Birmingham City   73     BCI
36                  Watford   73     WAT
37             Derby County   68     DCO
38             Ipswich Town   57     ITO
39         Sheffield United   56     SHU
40                Hull City   41     HCI
41                Brentford   40     BRE
42                  Reading   32     REA
43          Oldham Athletic   22     OAT
44             Cardiff City   17     CCI
45            Bradford City   14     BRA
46        Huddersfield Town   12     HTO
47                 Barnsley   10     BAR
48                Blackpool   10     BLA
49               Luton Town    6     LTO
50             Swindon Town    5     STO

In [10]:
# Create the 'Rank' column with values starting from 1
df['Rank'] = range(1, len(df) + 1)

# Reorder the columns to have Rank, Team_ID, Team_Name, Wins
df = df[['Rank', 'Team_ID', 'Team_Name', 'Wins']]

# Verify the new column order and content
df.head()

   Rank Team_ID          Team_Name Wins
0     1     MUN  Manchester United  746
1     2     ARS            Arsenal  676
2     3     LIV          Liverpool  656
3     4     CHE            Chelsea  650
4     5     THO  Tottenham Hotspur  542

In [11]:
df

    Rank Team_ID                Team_Name Wins
0      1     MUN        Manchester United  746
1      2     ARS                  Arsenal  676
2      3     LIV                Liverpool  656
3      4     CHE                  Chelsea  650
4      5     THO        Tottenham Hotspur  542
5      6     MCI          Manchester City  533
6      7     EVE                  Everton  439
7      8     NUN         Newcastle United  422
8      9     AVI              Aston Villa  396
9     10     WHA          West Ham United  361
10    11     SOU              Southampton  280
11    12     BRO         Blackburn Rovers  262
12    13     LUN             Leeds United  223
13    14     LCI           Leicester City  218
14    15     FUL                   Fulham  192
15    16     CPA           Crystal Palace  169
16    17     MID            Middlesbrough  165
17    18     SUN               Sunderland  153
18    19     BWA         Bolton Wanderers  149
19    20     WBR     West Bromwich Albion  117
20    21     SCI               Stoke City  116
21    22     WWA  Wolverhampton Wanderers  114
22    23     SWE      Sheffield Wednesday  101
23    24     COV            Coventry City   99
24    25     NCI             Norwich City   99
25    26     WIM                Wimbledon   99
26    27     CAT        Charlton Athletic   93
27    28     BUR                  Burnley   88
28    29     WGA           Wigan Athletic   85
29    30     SWA             Swansea City   82
30    31     BOU              Bournemouth   81
31    32     QPA      Queens Park Rangers   81
32    33     BHA   Brighton & Hove Albion   80
33    34     NFO        Nottingham Forest   80
34    35     POR               Portsmouth   79
35    36     BCI          Birmingham City   73
36    37     WAT                  Watford   73
37    38     DCO             Derby County   68
38    39     ITO             Ipswich Town   57
39    40     SHU         Sheffield United   56
40    41     HCI                Hull City   41
41    42     BRE                Brentford   40
42    43     REA                  Reading   32
43    44     OAT          Oldham Athletic   22
44    45     CCI             Cardiff City   17
45    46     BRA            Bradford City   14
46    47     HTO        Huddersfield Town   12
47    48     BAR                 Barnsley   10
48    49     BLA                Blackpool   10
49    50     LTO               Luton Town    6
50    51     STO             Swindon Town    5

In [12]:
df.to_csv('League Power Ranking.csv', index=False)