In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2005"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,29,4,5,72:22,50,91
1,2,Man Utd,42,25,8,5,72:34,38,83
2,3,Liverpool,42,25,7,6,57:25,32,82
3,4,Arsenal,42,20,7,11,68:31,37,67
4,5,Tottenham,42,18,11,9,53:38,15,65
5,6,Blackburn,42,19,6,13,51:42,9,63
6,7,Newcastle,42,17,7,14,47:42,5,58
7,8,Bolton,42,15,11,12,49:41,8,56
8,9,West Ham,42,16,7,15,52:55,-3,55
9,10,Wigan,42,15,6,17,45:52,-7,51
10,11,Everton,42,14,8,16,34:49,-15,50
11,12,Fulham,42,14,6,18,48:58,-10,48
12,13,Charlton,42,13,8,17,41:55,-14,47
13,14,Middlesbrough,42,12,9,17,48:58,-10,45
14,15,Man City,42,13,4,21,43:48,-5,43
15,16,Aston Villa,42,10,12,16,42:55,-13,42
16,17,Portsmouth,42,10,8,20,37:62,-25,38
17,18,Birmingham,42,8,10,20,28:50,-22,34
18,19,West Brom,42,7,9,22,31:58,-27,30
19,20,Sunderland,42,3,6,29,26:69,-43,15

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,29,4,5,72:22,50,91
1,2,Manchester United,42,25,8,5,72:34,38,83
2,3,Liverpool,42,25,7,6,57:25,32,82
3,4,Arsenal,42,20,7,11,68:31,37,67
4,5,Tottenham Hotspur,42,18,11,9,53:38,15,65
5,6,Blackburn Rovers,42,19,6,13,51:42,9,63
6,7,Newcastle United,42,17,7,14,47:42,5,58
7,8,Bolton Wanderers,42,15,11,12,49:41,8,56
8,9,West Ham United,42,16,7,15,52:55,-3,55
9,10,Wigan Athletic,42,15,6,17,45:52,-7,51
10,11,Everton,42,14,8,16,34:49,-15,50
11,12,Fulham,42,14,6,18,48:58,-10,48
12,13,Charlton Athletic,42,13,8,17,41:55,-14,47
13,14,Middlesbrough,42,12,9,17,48:58,-10,45
14,15,Manchester City,42,13,4,21,43:48,-5,43
15,16,Aston Villa,42,10,12,16,42:55,-13,42
16,17,Portsmouth,42,10,8,20,37:62,-25,38
17,18,Birmingham City,42,8,10,20,28:50,-22,34
18,19,West Bromwich Albion,42,7,9,22,31:58,-27,30
19,20,Sunderland,42,3,6,29,26:69,-43,15

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2005/2006')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Chelsea,42,29,4,5,72:22,50,91,Jose Mourinho
1,2,Manchester United,42,25,8,5,72:34,38,83,Sir Alex Ferguson
2,3,Liverpool,42,25,7,6,57:25,32,82,Rafael Benitez
3,4,Arsenal,42,20,7,11,68:31,37,67,Arsene Wenger
4,5,Tottenham Hotspur,42,18,11,9,53:38,15,65,Martin Jol
5,6,Blackburn Rovers,42,19,6,13,51:42,9,63,Mark Hughes
6,7,Newcastle United,42,17,7,14,47:42,5,58,"Glenn Roeder, Graeme Souness"
7,8,Bolton Wanderers,42,15,11,12,49:41,8,56,Sam Allardyce
8,9,West Ham United,42,16,7,15,52:55,-3,55,Alan Pardew
9,10,Wigan Athletic,42,15,6,17,45:52,-7,51,Paul Jewell
10,11,Everton,42,14,8,16,34:49,-15,50,David Moyes
11,12,Fulham,42,14,6,18,48:58,-10,48,Chris Coleman
12,13,Charlton Athletic,42,13,8,17,41:55,-14,47,Alan Curbishley
13,14,Middlesbrough,42,12,9,17,48:58,-10,45,Steve McClaren
14,15,Manchester City,42,13,4,21,43:48,-5,43,Stuart Pearce
15,16,Aston Villa,42,10,12,16,42:55,-13,42,David O'Leary
16,17,Portsmouth,42,10,8,20,37:62,-25,38,"Alain Perrin, Harry Redknapp, Joe Jordan"
17,18,Birmingham City,42,8,10,20,28:50,-22,34,Steve Bruce
18,19,West Bromwich Albion,42,7,9,22,31:58,-27,30,Bryan Robson
19,20,Sunderland,42,3,6,29,26:69,-43,15,"Kevin Ball, Mick McCarthy"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2005/2006'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2005/2006,1,CHE,Chelsea,42,29,4,5,72:22,50,91,Jose Mourinho
1,2005/2006,2,MUN,Manchester United,42,25,8,5,72:34,38,83,Sir Alex Ferguson
2,2005/2006,3,LIV,Liverpool,42,25,7,6,57:25,32,82,Rafael Benitez
3,2005/2006,4,ARS,Arsenal,42,20,7,11,68:31,37,67,Arsene Wenger
4,2005/2006,5,THO,Tottenham Hotspur,42,18,11,9,53:38,15,65,Martin Jol
5,2005/2006,6,BRO,Blackburn Rovers,42,19,6,13,51:42,9,63,Mark Hughes
6,2005/2006,7,NUN,Newcastle United,42,17,7,14,47:42,5,58,"Glenn Roeder, Graeme Souness"
7,2005/2006,8,BWA,Bolton Wanderers,42,15,11,12,49:41,8,56,Sam Allardyce
8,2005/2006,9,WHA,West Ham United,42,16,7,15,52:55,-3,55,Alan Pardew
9,2005/2006,10,WGA,Wigan Athletic,42,15,6,17,45:52,-7,51,Paul Jewell
10,2005/2006,11,EVE,Everton,42,14,8,16,34:49,-15,50,David Moyes
11,2005/2006,12,FUL,Fulham,42,14,6,18,48:58,-10,48,Chris Coleman
12,2005/2006,13,CAT,Charlton Athletic,42,13,8,17,41:55,-14,47,Alan Curbishley
13,2005/2006,14,MID,Middlesbrough,42,12,9,17,48:58,-10,45,Steve McClaren
14,2005/2006,15,MCI,Manchester City,42,13,4,21,43:48,-5,43,Stuart Pearce
15,2005/2006,16,AVI,Aston Villa,42,10,12,16,42:55,-13,42,David O'Leary
16,2005/2006,17,POR,Portsmouth,42,10,8,20,37:62,-25,38,"Alain Perrin, Harry Redknapp, Joe Jordan"
17,2005/2006,18,BCI,Birmingham City,42,8,10,20,28:50,-22,34,Steve Bruce
18,2005/2006,19,WBR,West Bromwich Albion,42,7,9,22,31:58,-27,30,Bryan Robson
19,2005/2006,20,SUN,Sunderland,42,3,6,29,26:69,-43,15,"Kevin Ball, Mick McCarthy"

In [17]:
updated_league_table.to_csv('2005_2006 League Table.csv')