In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1994"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Blackburn,42,27,8,7,80:39,41,89
1,2,Man Utd,42,26,10,6,77:28,49,88
2,3,Nottm Forest,42,22,11,9,72:43,29,77
3,4,Liverpool,42,21,11,10,65:37,28,74
4,5,Leeds,42,20,13,9,59:38,21,73
5,6,Newcastle,42,20,12,10,67:47,20,72
6,7,Tottenham,42,16,14,12,66:58,8,62
7,8,QPR,42,17,9,16,61:59,2,60
8,9,Wimbledon FC,42,15,11,16,48:65,-17,56
9,10,Southampton,42,12,18,12,61:63,-2,54
10,11,Chelsea,42,13,15,14,50:55,-5,54
11,12,Arsenal,42,13,12,17,52:49,3,51
12,13,Sheff Wed,42,13,12,17,49:57,-8,51
13,14,West Ham,42,13,11,18,44:48,-4,50
14,15,Everton,42,11,17,14,44:51,-7,50
15,16,Coventry,42,12,14,16,44:62,-18,50
16,17,Man City,42,12,13,17,53:64,-11,49
17,18,Aston Villa,42,11,15,16,51:56,-5,48
18,19,Crystal Palace,42,11,12,19,34:49,-15,45
19,20,Norwich,42,10,13,19,37:54,-17,43
20,21,Leicester,42,6,11,25,45:80,-35,29
21,22,Ipswich,42,7,6,29,36:93,-57,27

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City' }, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Blackburn Rovers,42,27,8,7,80:39,41,89
1,2,Manchester United,42,26,10,6,77:28,49,88
2,3,Nottingham Forest,42,22,11,9,72:43,29,77
3,4,Liverpool,42,21,11,10,65:37,28,74
4,5,Leeds United,42,20,13,9,59:38,21,73
5,6,Newcastle United,42,20,12,10,67:47,20,72
6,7,Tottenham Hotspur,42,16,14,12,66:58,8,62
7,8,Queens Park Rangers,42,17,9,16,61:59,2,60
8,9,Wimbledon,42,15,11,16,48:65,-17,56
9,10,Southampton,42,12,18,12,61:63,-2,54
10,11,Chelsea,42,13,15,14,50:55,-5,54
11,12,Arsenal,42,13,12,17,52:49,3,51
12,13,Sheffield Wednesday,42,13,12,17,49:57,-8,51
13,14,West Ham United,42,13,11,18,44:48,-4,50
14,15,Everton,42,11,17,14,44:51,-7,50
15,16,Coventry City,42,12,14,16,44:62,-18,50
16,17,Manchester City,42,12,13,17,53:64,-11,49
17,18,Aston Villa,42,11,15,16,51:56,-5,48
18,19,Crystal Palace,42,11,12,19,34:49,-15,45
19,20,Norwich City,42,10,13,19,37:54,-17,43
20,21,Leicester City,42,6,11,25,45:80,-35,29
21,22,Ipswich Town,42,7,6,29,36:93,-57,27

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '1994/1995')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Blackburn Rovers,42,27,8,7,80:39,41,89,Sir Kenny Dalglish
1,2,Manchester United,42,26,10,6,77:28,49,88,Sir Alex Ferguson
2,3,Nottingham Forest,42,22,11,9,72:43,29,77,Frank Clark
3,4,Liverpool,42,21,11,10,65:37,28,74,Roy Evans
4,5,Leeds United,42,20,13,9,59:38,21,73,Howard Wilkinson
5,6,Newcastle United,42,20,12,10,67:47,20,72,Kevin Keegan
6,7,Tottenham Hotspur,42,16,14,12,66:58,8,62,"Gerry Francis, Osvaldo Ardiles, Steve Perryman"
7,8,Queens Park Rangers,42,17,9,16,61:59,2,60,"Gerry Francis, Ray Wilkins"
8,9,Wimbledon,42,15,11,16,48:65,-17,56,Joe Kinnear
9,10,Southampton,42,12,18,12,61:63,-2,54,Alan Ball
10,11,Chelsea,42,13,15,14,50:55,-5,54,Glenn Hoddle
11,12,Arsenal,42,13,12,17,52:49,3,51,"George Graham, Stewart Houston"
12,13,Sheffield Wednesday,42,13,12,17,49:57,-8,51,Trevor Francis
13,14,West Ham United,42,13,11,18,44:48,-4,50,Harry Redknapp
14,15,Everton,42,11,17,14,44:51,-7,50,"Joe Royle, Mike Walker"
15,16,Coventry City,42,12,14,16,44:62,-18,50,"Phil Neal, Ron Atkinson"
16,17,Manchester City,42,12,13,17,53:64,-11,49,Brian Horton
17,18,Aston Villa,42,11,15,16,51:56,-5,48,"Brian Little, Jim Barron, Ron Atkinson"
18,19,Crystal Palace,42,11,12,19,34:49,-15,45,Alan Smith
19,20,Norwich City,42,10,13,19,37:54,-17,43,"Gary Megson, John Deehan"
20,21,Leicester City,42,6,11,25,45:80,-35,29,"Brian Little, Kevin MacDonald, Mark McGhee"
21,22,Ipswich Town,42,7,6,29,36:93,-57,27,"George Burley, John Lyall, Paul Goddard"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1994/1995'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1994/1995,1,BRO,Blackburn Rovers,42,27,8,7,80:39,41,89,Sir Kenny Dalglish
1,1994/1995,2,MUN,Manchester United,42,26,10,6,77:28,49,88,Sir Alex Ferguson
2,1994/1995,3,NFO,Nottingham Forest,42,22,11,9,72:43,29,77,Frank Clark
3,1994/1995,4,LIV,Liverpool,42,21,11,10,65:37,28,74,Roy Evans
4,1994/1995,5,LUN,Leeds United,42,20,13,9,59:38,21,73,Howard Wilkinson
5,1994/1995,6,NUN,Newcastle United,42,20,12,10,67:47,20,72,Kevin Keegan
6,1994/1995,7,THO,Tottenham Hotspur,42,16,14,12,66:58,8,62,"Gerry Francis, Osvaldo Ardiles, Steve Perryman"
7,1994/1995,8,QPA,Queens Park Rangers,42,17,9,16,61:59,2,60,"Gerry Francis, Ray Wilkins"
8,1994/1995,9,WIM,Wimbledon,42,15,11,16,48:65,-17,56,Joe Kinnear
9,1994/1995,10,SOU,Southampton,42,12,18,12,61:63,-2,54,Alan Ball
10,1994/1995,11,CHE,Chelsea,42,13,15,14,50:55,-5,54,Glenn Hoddle
11,1994/1995,12,ARS,Arsenal,42,13,12,17,52:49,3,51,"George Graham, Stewart Houston"
12,1994/1995,13,SWE,Sheffield Wednesday,42,13,12,17,49:57,-8,51,Trevor Francis
13,1994/1995,14,WHA,West Ham United,42,13,11,18,44:48,-4,50,Harry Redknapp
14,1994/1995,15,EVE,Everton,42,11,17,14,44:51,-7,50,"Joe Royle, Mike Walker"
15,1994/1995,16,COV,Coventry City,42,12,14,16,44:62,-18,50,"Phil Neal, Ron Atkinson"
16,1994/1995,17,MCI,Manchester City,42,12,13,17,53:64,-11,49,Brian Horton
17,1994/1995,18,AVI,Aston Villa,42,11,15,16,51:56,-5,48,"Brian Little, Jim Barron, Ron Atkinson"
18,1994/1995,19,CPA,Crystal Palace,42,11,12,19,34:49,-15,45,Alan Smith
19,1994/1995,20,NCI,Norwich City,42,10,13,19,37:54,-17,43,"Gary Megson, John Deehan"
20,1994/1995,21,LCI,Leicester City,42,6,11,25,45:80,-35,29,"Brian Little, Kevin MacDonald, Mark McGhee"
21,1994/1995,22,ITO,Ipswich Town,42,7,6,29,36:93,-57,27,"George Burley, John Lyall, Paul Goddard"

In [17]:
updated_league_table.to_csv('1994_1995 League Table.csv')