In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1999"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,28,7,3,97:45,52,91
1,2,Arsenal,42,22,7,9,73:43,30,73
2,3,Leeds,42,21,6,11,58:43,15,69
3,4,Liverpool,42,19,10,9,51:30,21,67
4,5,Chelsea,42,18,11,9,53:34,19,65
5,6,Aston Villa,42,15,13,10,46:35,11,58
6,7,Sunderland,42,16,10,12,57:56,1,58
7,8,Leicester,42,16,7,15,55:55,0,55
8,9,West Ham,42,15,10,13,52:53,-1,55
9,10,Tottenham,42,15,8,15,57:49,8,53
10,11,Newcastle,42,14,10,14,63:54,9,52
11,12,Middlesbrough,42,14,10,14,46:52,-6,52
12,13,Everton,42,12,14,12,59:49,10,50
13,14,Coventry,42,12,8,18,47:54,-7,44
14,15,Southampton,42,12,8,18,45:62,-17,44
15,16,Derby,42,9,11,18,44:57,-13,38
16,17,Bradford,42,9,9,20,38:68,-30,36
17,18,Wimbledon FC,42,7,12,19,46:74,-28,33
18,19,Sheff Wed,42,8,7,23,38:70,-32,31
19,20,Watford,42,6,6,26,35:77,-42,24

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,28,7,3,97:45,52,91
1,2,Arsenal,42,22,7,9,73:43,30,73
2,3,Leeds United,42,21,6,11,58:43,15,69
3,4,Liverpool,42,19,10,9,51:30,21,67
4,5,Chelsea,42,18,11,9,53:34,19,65
5,6,Aston Villa,42,15,13,10,46:35,11,58
6,7,Sunderland,42,16,10,12,57:56,1,58
7,8,Leicester City,42,16,7,15,55:55,0,55
8,9,West Ham United,42,15,10,13,52:53,-1,55
9,10,Tottenham Hotspur,42,15,8,15,57:49,8,53
10,11,Newcastle United,42,14,10,14,63:54,9,52
11,12,Middlesbrough,42,14,10,14,46:52,-6,52
12,13,Everton,42,12,14,12,59:49,10,50
13,14,Coventry City,42,12,8,18,47:54,-7,44
14,15,Southampton,42,12,8,18,45:62,-17,44
15,16,Derby County,42,9,11,18,44:57,-13,38
16,17,Bradford City,42,9,9,20,38:68,-30,36
17,18,Wimbledon,42,7,12,19,46:74,-28,33
18,19,Sheffield Wednesday,42,8,7,23,38:70,-32,31
19,20,Watford,42,6,6,26,35:77,-42,24

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '1999/2000')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,28,7,3,97:45,52,91,Sir Alex Ferguson
1,2,Arsenal,42,22,7,9,73:43,30,73,Arsene Wenger
2,3,Leeds United,42,21,6,11,58:43,15,69,David O'Leary
3,4,Liverpool,42,19,10,9,51:30,21,67,Gerard Houllier
4,5,Chelsea,42,18,11,9,53:34,19,65,Gianluca Vialli
5,6,Aston Villa,42,15,13,10,46:35,11,58,John Gregory
6,7,Sunderland,42,16,10,12,57:56,1,58,Peter Reid
7,8,Leicester City,42,16,7,15,55:55,0,55,Martin O'Neill
8,9,West Ham United,42,15,10,13,52:53,-1,55,Harry Redknapp
9,10,Tottenham Hotspur,42,15,8,15,57:49,8,53,George Graham
10,11,Newcastle United,42,14,10,14,63:54,9,52,"Ruud Gullit, Sir Bobby Robson, Steve Clarke"
11,12,Middlesbrough,42,14,10,14,46:52,-6,52,Bryan Robson
12,13,Everton,42,12,14,12,59:49,10,50,Walter Smith
13,14,Coventry City,42,12,8,18,47:54,-7,44,Gordon Strachan
14,15,Southampton,42,12,8,18,45:62,-17,44,"Dave Jones, Glenn Hoddle"
15,16,Derby County,42,9,11,18,44:57,-13,38,Jim Smith
16,17,Bradford City,42,9,9,20,38:68,-30,36,Paul Jewell
17,18,Wimbledon,42,7,12,19,46:74,-28,33,"Egil Olsen, Terry Burton"
18,19,Sheffield Wednesday,42,8,7,23,38:70,-32,31,"Danny Wilson, Peter Shreeves"
19,20,Watford,42,6,6,26,35:77,-42,24,Graham Taylor

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1999/2000'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1999/2000,1,MUN,Manchester United,42,28,7,3,97:45,52,91,Sir Alex Ferguson
1,1999/2000,2,ARS,Arsenal,42,22,7,9,73:43,30,73,Arsene Wenger
2,1999/2000,3,LUN,Leeds United,42,21,6,11,58:43,15,69,David O'Leary
3,1999/2000,4,LIV,Liverpool,42,19,10,9,51:30,21,67,Gerard Houllier
4,1999/2000,5,CHE,Chelsea,42,18,11,9,53:34,19,65,Gianluca Vialli
5,1999/2000,6,AVI,Aston Villa,42,15,13,10,46:35,11,58,John Gregory
6,1999/2000,7,SUN,Sunderland,42,16,10,12,57:56,1,58,Peter Reid
7,1999/2000,8,LCI,Leicester City,42,16,7,15,55:55,0,55,Martin O'Neill
8,1999/2000,9,WHA,West Ham United,42,15,10,13,52:53,-1,55,Harry Redknapp
9,1999/2000,10,THO,Tottenham Hotspur,42,15,8,15,57:49,8,53,George Graham
10,1999/2000,11,NUN,Newcastle United,42,14,10,14,63:54,9,52,"Ruud Gullit, Sir Bobby Robson, Steve Clarke"
11,1999/2000,12,MID,Middlesbrough,42,14,10,14,46:52,-6,52,Bryan Robson
12,1999/2000,13,EVE,Everton,42,12,14,12,59:49,10,50,Walter Smith
13,1999/2000,14,COV,Coventry City,42,12,8,18,47:54,-7,44,Gordon Strachan
14,1999/2000,15,SOU,Southampton,42,12,8,18,45:62,-17,44,"Dave Jones, Glenn Hoddle"
15,1999/2000,16,DCO,Derby County,42,9,11,18,44:57,-13,38,Jim Smith
16,1999/2000,17,BRA,Bradford City,42,9,9,20,38:68,-30,36,Paul Jewell
17,1999/2000,18,WIM,Wimbledon,42,7,12,19,46:74,-28,33,"Egil Olsen, Terry Burton"
18,1999/2000,19,SWE,Sheffield Wednesday,42,8,7,23,38:70,-32,31,"Danny Wilson, Peter Shreeves"
19,1999/2000,20,WAT,Watford,42,6,6,26,35:77,-42,24,Graham Taylor

In [17]:
updated_league_table.to_csv('1999_2000 League Table.csv')