In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2000"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,24,8,6,79:31,48,80
1,2,Arsenal,42,20,10,8,63:38,25,70
2,3,Liverpool,42,20,9,9,71:39,32,69
3,4,Leeds,42,20,8,10,64:43,21,68
4,5,Ipswich,42,20,6,12,57:42,15,66
5,6,Chelsea,42,17,10,11,68:45,23,61
6,7,Sunderland,42,15,12,11,46:41,5,57
7,8,Aston Villa,42,13,15,10,46:43,3,54
8,9,Charlton,42,14,10,14,50:57,-7,52
9,10,Southampton,42,14,10,14,40:48,-8,52
10,11,Newcastle,42,14,9,15,44:50,-6,51
11,12,Tottenham,42,13,10,15,47:54,-7,49
12,13,Leicester,42,14,6,18,39:51,-12,48
13,14,Middlesbrough,42,9,15,14,44:44,0,42
14,15,West Ham,42,10,12,16,45:50,-5,42
15,16,Everton,42,11,9,18,45:59,-14,42
16,17,Derby,42,10,12,16,37:59,-22,42
17,18,Man City,42,8,10,20,41:65,-24,34
18,19,Coventry,42,8,10,20,36:63,-27,34
19,20,Bradford,42,5,11,22,30:70,-40,26

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,24,8,6,79:31,48,80
1,2,Arsenal,42,20,10,8,63:38,25,70
2,3,Liverpool,42,20,9,9,71:39,32,69
3,4,Leeds United,42,20,8,10,64:43,21,68
4,5,Ipswich Town,42,20,6,12,57:42,15,66
5,6,Chelsea,42,17,10,11,68:45,23,61
6,7,Sunderland,42,15,12,11,46:41,5,57
7,8,Aston Villa,42,13,15,10,46:43,3,54
8,9,Charlton Athletic,42,14,10,14,50:57,-7,52
9,10,Southampton,42,14,10,14,40:48,-8,52
10,11,Newcastle United,42,14,9,15,44:50,-6,51
11,12,Tottenham Hotspur,42,13,10,15,47:54,-7,49
12,13,Leicester City,42,14,6,18,39:51,-12,48
13,14,Middlesbrough,42,9,15,14,44:44,0,42
14,15,West Ham United,42,10,12,16,45:50,-5,42
15,16,Everton,42,11,9,18,45:59,-14,42
16,17,Derby County,42,10,12,16,37:59,-22,42
17,18,Manchester City,42,8,10,20,41:65,-24,34
18,19,Coventry City,42,8,10,20,36:63,-27,34
19,20,Bradford City,42,5,11,22,30:70,-40,26

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2000/2001')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,24,8,6,79:31,48,80,Sir Alex Ferguson
1,2,Arsenal,42,20,10,8,63:38,25,70,Arsene Wenger
2,3,Liverpool,42,20,9,9,71:39,32,69,Gerard Houllier
3,4,Leeds United,42,20,8,10,64:43,21,68,David O'Leary
4,5,Ipswich Town,42,20,6,12,57:42,15,66,George Burley
5,6,Chelsea,42,17,10,11,68:45,23,61,"Claudio Ranieri, Gianluca Vialli, Graham Rix"
6,7,Sunderland,42,15,12,11,46:41,5,57,Peter Reid
7,8,Aston Villa,42,13,15,10,46:43,3,54,John Gregory
8,9,Charlton Athletic,42,14,10,14,50:57,-7,52,Alan Curbishley
9,10,Southampton,42,14,10,14,40:48,-8,52,"Glenn Hoddle, Stuart Gray"
10,11,Newcastle United,42,14,9,15,44:50,-6,51,Sir Bobby Robson
11,12,Tottenham Hotspur,42,13,10,15,47:54,-7,49,"David Pleat, George Graham, Glenn Hoddle"
12,13,Leicester City,42,14,6,18,39:51,-12,48,Peter Taylor
13,14,Middlesbrough,42,9,15,14,44:44,0,42,Bryan Robson
14,15,West Ham United,42,10,12,16,45:50,-5,42,"Glenn Roeder, Harry Redknapp"
15,16,Everton,42,11,9,18,45:59,-14,42,Walter Smith
16,17,Derby County,42,10,12,16,37:59,-22,42,Jim Smith
17,18,Manchester City,42,8,10,20,41:65,-24,34,Joe Royle
18,19,Coventry City,42,8,10,20,36:63,-27,34,Gordon Strachan
19,20,Bradford City,42,5,11,22,30:70,-40,26,"Chris Hutchings, Jim Jefferies, Stuart McCall"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2000/2001'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2000/2001,1,MUN,Manchester United,42,24,8,6,79:31,48,80,Sir Alex Ferguson
1,2000/2001,2,ARS,Arsenal,42,20,10,8,63:38,25,70,Arsene Wenger
2,2000/2001,3,LIV,Liverpool,42,20,9,9,71:39,32,69,Gerard Houllier
3,2000/2001,4,LUN,Leeds United,42,20,8,10,64:43,21,68,David O'Leary
4,2000/2001,5,ITO,Ipswich Town,42,20,6,12,57:42,15,66,George Burley
5,2000/2001,6,CHE,Chelsea,42,17,10,11,68:45,23,61,"Claudio Ranieri, Gianluca Vialli, Graham Rix"
6,2000/2001,7,SUN,Sunderland,42,15,12,11,46:41,5,57,Peter Reid
7,2000/2001,8,AVI,Aston Villa,42,13,15,10,46:43,3,54,John Gregory
8,2000/2001,9,CAT,Charlton Athletic,42,14,10,14,50:57,-7,52,Alan Curbishley
9,2000/2001,10,SOU,Southampton,42,14,10,14,40:48,-8,52,"Glenn Hoddle, Stuart Gray"
10,2000/2001,11,NUN,Newcastle United,42,14,9,15,44:50,-6,51,Sir Bobby Robson
11,2000/2001,12,THO,Tottenham Hotspur,42,13,10,15,47:54,-7,49,"David Pleat, George Graham, Glenn Hoddle"
12,2000/2001,13,LCI,Leicester City,42,14,6,18,39:51,-12,48,Peter Taylor
13,2000/2001,14,MID,Middlesbrough,42,9,15,14,44:44,0,42,Bryan Robson
14,2000/2001,15,WHA,West Ham United,42,10,12,16,45:50,-5,42,"Glenn Roeder, Harry Redknapp"
15,2000/2001,16,EVE,Everton,42,11,9,18,45:59,-14,42,Walter Smith
16,2000/2001,17,DCO,Derby County,42,10,12,16,37:59,-22,42,Jim Smith
17,2000/2001,18,MCI,Manchester City,42,8,10,20,41:65,-24,34,Joe Royle
18,2000/2001,19,COV,Coventry City,42,8,10,20,36:63,-27,34,Gordon Strachan
19,2000/2001,20,BRA,Bradford City,42,5,11,22,30:70,-40,26,"Chris Hutchings, Jim Jefferies, Stuart McCall"

In [17]:
updated_league_table.to_csv('2000_2001 League Table.csv')