In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1998"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,22,13,3,80:37,43,79
1,2,Arsenal,42,22,12,4,59:17,42,78
2,3,Chelsea,42,20,15,3,57:30,27,75
3,4,Leeds,42,18,13,7,62:34,28,67
4,5,West Ham,42,16,9,13,46:53,-7,57
5,6,Aston Villa,42,15,10,13,51:46,5,55
6,7,Liverpool,42,15,9,14,68:49,19,54
7,8,Derby,42,13,13,12,40:45,-5,52
8,9,Middlesbrough,42,12,15,11,48:54,-6,51
9,10,Leicester,42,12,13,13,40:46,-6,49
10,11,Tottenham,42,11,14,13,47:50,-3,47
11,12,Sheff Wed,42,13,7,18,41:42,-1,46
12,13,Newcastle,42,11,13,14,48:54,-6,46
13,14,Everton,42,11,10,17,42:47,-5,43
14,15,Coventry,42,11,9,18,39:51,-12,42
15,16,Wimbledon FC,42,10,12,16,40:63,-23,42
16,17,Southampton,42,11,8,19,37:64,-27,41
17,18,Charlton,42,8,12,18,41:56,-15,36
18,19,Blackburn,42,7,14,17,38:52,-14,35
19,20,Nottm Forest,42,7,9,22,35:69,-34,30

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,22,13,3,80:37,43,79
1,2,Arsenal,42,22,12,4,59:17,42,78
2,3,Chelsea,42,20,15,3,57:30,27,75
3,4,Leeds United,42,18,13,7,62:34,28,67
4,5,West Ham United,42,16,9,13,46:53,-7,57
5,6,Aston Villa,42,15,10,13,51:46,5,55
6,7,Liverpool,42,15,9,14,68:49,19,54
7,8,Derby County,42,13,13,12,40:45,-5,52
8,9,Middlesbrough,42,12,15,11,48:54,-6,51
9,10,Leicester City,42,12,13,13,40:46,-6,49
10,11,Tottenham Hotspur,42,11,14,13,47:50,-3,47
11,12,Sheffield Wednesday,42,13,7,18,41:42,-1,46
12,13,Newcastle United,42,11,13,14,48:54,-6,46
13,14,Everton,42,11,10,17,42:47,-5,43
14,15,Coventry City,42,11,9,18,39:51,-12,42
15,16,Wimbledon,42,10,12,16,40:63,-23,42
16,17,Southampton,42,11,8,19,37:64,-27,41
17,18,Charlton Athletic,42,8,12,18,41:56,-15,36
18,19,Blackburn Rovers,42,7,14,17,38:52,-14,35
19,20,Nottingham Forest,42,7,9,22,35:69,-34,30

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '1998/1999')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,22,13,3,80:37,43,79,Sir Alex Ferguson
1,2,Arsenal,42,22,12,4,59:17,42,78,Arsene Wenger
2,3,Chelsea,42,20,15,3,57:30,27,75,Gianluca Vialli
3,4,Leeds United,42,18,13,7,62:34,28,67,"David O'Leary, George Graham"
4,5,West Ham United,42,16,9,13,46:53,-7,57,Harry Redknapp
5,6,Aston Villa,42,15,10,13,51:46,5,55,John Gregory
6,7,Liverpool,42,15,9,14,68:49,19,54,"Gerard Houllier, Roy Evans"
7,8,Derby County,42,13,13,12,40:45,-5,52,Jim Smith
8,9,Middlesbrough,42,12,15,11,48:54,-6,51,Bryan Robson
9,10,Leicester City,42,12,13,13,40:46,-6,49,Martin O'Neill
10,11,Tottenham Hotspur,42,11,14,13,47:50,-3,47,"Christian Gross, David Pleat, George Graham"
11,12,Sheffield Wednesday,42,13,7,18,41:42,-1,46,Danny Wilson
12,13,Newcastle United,42,11,13,14,48:54,-6,46,"Ruud Gullit, Sir Kenny Dalglish"
13,14,Everton,42,11,10,17,42:47,-5,43,Walter Smith
14,15,Coventry City,42,11,9,18,39:51,-12,42,Gordon Strachan
15,16,Wimbledon,42,10,12,16,40:63,-23,42,Joe Kinnear
16,17,Southampton,42,11,8,19,37:64,-27,41,Dave Jones
17,18,Charlton Athletic,42,8,12,18,41:56,-15,36,Alan Curbishley
18,19,Blackburn Rovers,42,7,14,17,38:52,-14,35,"Brian Kidd, Roy Hodgson, Tony Parkes"
19,20,Nottingham Forest,42,7,9,22,35:69,-34,30,"Dave Bassett, Micky Adams, Ron Atkinson"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1998/1999'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1998/1999,1,MUN,Manchester United,42,22,13,3,80:37,43,79,Sir Alex Ferguson
1,1998/1999,2,ARS,Arsenal,42,22,12,4,59:17,42,78,Arsene Wenger
2,1998/1999,3,CHE,Chelsea,42,20,15,3,57:30,27,75,Gianluca Vialli
3,1998/1999,4,LUN,Leeds United,42,18,13,7,62:34,28,67,"David O'Leary, George Graham"
4,1998/1999,5,WHA,West Ham United,42,16,9,13,46:53,-7,57,Harry Redknapp
5,1998/1999,6,AVI,Aston Villa,42,15,10,13,51:46,5,55,John Gregory
6,1998/1999,7,LIV,Liverpool,42,15,9,14,68:49,19,54,"Gerard Houllier, Roy Evans"
7,1998/1999,8,DCO,Derby County,42,13,13,12,40:45,-5,52,Jim Smith
8,1998/1999,9,MID,Middlesbrough,42,12,15,11,48:54,-6,51,Bryan Robson
9,1998/1999,10,LCI,Leicester City,42,12,13,13,40:46,-6,49,Martin O'Neill
10,1998/1999,11,THO,Tottenham Hotspur,42,11,14,13,47:50,-3,47,"Christian Gross, David Pleat, George Graham"
11,1998/1999,12,SWE,Sheffield Wednesday,42,13,7,18,41:42,-1,46,Danny Wilson
12,1998/1999,13,NUN,Newcastle United,42,11,13,14,48:54,-6,46,"Ruud Gullit, Sir Kenny Dalglish"
13,1998/1999,14,EVE,Everton,42,11,10,17,42:47,-5,43,Walter Smith
14,1998/1999,15,COV,Coventry City,42,11,9,18,39:51,-12,42,Gordon Strachan
15,1998/1999,16,WIM,Wimbledon,42,10,12,16,40:63,-23,42,Joe Kinnear
16,1998/1999,17,SOU,Southampton,42,11,8,19,37:64,-27,41,Dave Jones
17,1998/1999,18,CAT,Charlton Athletic,42,8,12,18,41:56,-15,36,Alan Curbishley
18,1998/1999,19,BRO,Blackburn Rovers,42,7,14,17,38:52,-14,35,"Brian Kidd, Roy Hodgson, Tony Parkes"
19,1998/1999,20,NFO,Nottingham Forest,42,7,9,22,35:69,-34,30,"Dave Bassett, Micky Adams, Ron Atkinson"

In [17]:
updated_league_table.to_csv('1998_1999 League Table.csv')