In [16]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [17]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2016"
driver.get(url)

In [18]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [19]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [20]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [21]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [22]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [23]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [24]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,30,3,5,85:33,52,93
1,2,Tottenham,42,26,8,4,86:26,60,86
2,3,Man City,42,23,9,6,80:39,41,78
3,4,Liverpool,42,22,10,6,78:42,36,76
4,5,Arsenal,42,23,6,9,77:44,33,75
5,6,Man Utd,42,18,15,5,54:29,25,69
6,7,Everton,42,17,10,11,62:44,18,61
7,8,Southampton,42,12,10,16,41:48,-7,46
8,9,Bournemouth,42,12,10,16,55:67,-12,46
9,10,West Brom,42,12,9,17,43:51,-8,45
10,11,West Ham,42,12,9,17,47:64,-17,45
11,12,Leicester,42,12,8,18,48:63,-15,44
12,13,Stoke City,42,11,11,16,41:56,-15,44
13,14,Crystal Palace,42,12,5,21,50:63,-13,41
14,15,Swansea,42,12,5,21,45:70,-25,41
15,16,Burnley,42,11,7,20,39:55,-16,40
16,17,Watford,42,11,7,20,40:68,-28,40
17,18,Hull City,42,9,7,22,37:80,-43,34
18,19,Middlesbrough,42,5,13,20,27:53,-26,28
19,20,Sunderland,42,6,6,26,29:69,-40,24

In [25]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic', 'Swansea': 'Swansea City', 'Cardiff': 'Cardiff City'}, inplace=True)

In [26]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,30,3,5,85:33,52,93
1,2,Tottenham Hotspur,42,26,8,4,86:26,60,86
2,3,Manchester City,42,23,9,6,80:39,41,78
3,4,Liverpool,42,22,10,6,78:42,36,76
4,5,Arsenal,42,23,6,9,77:44,33,75
5,6,Manchester United,42,18,15,5,54:29,25,69
6,7,Everton,42,17,10,11,62:44,18,61
7,8,Southampton,42,12,10,16,41:48,-7,46
8,9,Bournemouth,42,12,10,16,55:67,-12,46
9,10,West Bromwich Albion,42,12,9,17,43:51,-8,45
10,11,West Ham United,42,12,9,17,47:64,-17,45
11,12,Leicester City,42,12,8,18,48:63,-15,44
12,13,Stoke City,42,11,11,16,41:56,-15,44
13,14,Crystal Palace,42,12,5,21,50:63,-13,41
14,15,Swansea City,42,12,5,21,45:70,-25,41
15,16,Burnley,42,11,7,20,39:55,-16,40
16,17,Watford,42,11,7,20,40:68,-28,40
17,18,Hull City,42,9,7,22,37:80,-43,34
18,19,Middlesbrough,42,5,13,20,27:53,-26,28
19,20,Sunderland,42,6,6,26,29:69,-40,24

In [27]:
# Close the driver
driver.quit()

In [28]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [29]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [30]:
updated_league_table = add_managers_to_league_table(df2, df, '2016/2017')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Chelsea,42,30,3,5,85:33,52,93,Antonio Conte
1,2,Tottenham Hotspur,42,26,8,4,86:26,60,86,Mauricio Pochettino
2,3,Manchester City,42,23,9,6,80:39,41,78,Pep Guardiola
3,4,Liverpool,42,22,10,6,78:42,36,76,Jurgen Klopp
4,5,Arsenal,42,23,6,9,77:44,33,75,Arsene Wenger
5,6,Manchester United,42,18,15,5,54:29,25,69,Jose Mourinho
6,7,Everton,42,17,10,11,62:44,18,61,Ronald Koeman
7,8,Southampton,42,12,10,16,41:48,-7,46,Claude Puel
8,9,Bournemouth,42,12,10,16,55:67,-12,46,Eddie Howe
9,10,West Bromwich Albion,42,12,9,17,43:51,-8,45,Tony Pulis
10,11,West Ham United,42,12,9,17,47:64,-17,45,Slaven Bilic
11,12,Leicester City,42,12,8,18,48:63,-15,44,"Claudio Ranieri, Craig Shakespeare"
12,13,Stoke City,42,11,11,16,41:56,-15,44,Mark Hughes
13,14,Crystal Palace,42,12,5,21,50:63,-13,41,"Alan Pardew, Sam Allardyce"
14,15,Swansea City,42,12,5,21,45:70,-25,41,"Alan Curtis, Bob Bradley, Francesco Guidolin, ..."
15,16,Burnley,42,11,7,20,39:55,-16,40,Sean Dyche
16,17,Watford,42,11,7,20,40:68,-28,40,Walter Mazzarri
17,18,Hull City,42,9,7,22,37:80,-43,34,"Marco Silva, Mike Phelan"
18,19,Middlesbrough,42,5,13,20,27:53,-26,28,"Aitor Karanka, Steve Agnew"
19,20,Sunderland,42,6,6,26,29:69,-40,24,David Moyes

In [31]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2016/2017'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2016/2017,1,CHE,Chelsea,42,30,3,5,85:33,52,93,Antonio Conte
1,2016/2017,2,THO,Tottenham Hotspur,42,26,8,4,86:26,60,86,Mauricio Pochettino
2,2016/2017,3,MCI,Manchester City,42,23,9,6,80:39,41,78,Pep Guardiola
3,2016/2017,4,LIV,Liverpool,42,22,10,6,78:42,36,76,Jurgen Klopp
4,2016/2017,5,ARS,Arsenal,42,23,6,9,77:44,33,75,Arsene Wenger
5,2016/2017,6,MUN,Manchester United,42,18,15,5,54:29,25,69,Jose Mourinho
6,2016/2017,7,EVE,Everton,42,17,10,11,62:44,18,61,Ronald Koeman
7,2016/2017,8,SOU,Southampton,42,12,10,16,41:48,-7,46,Claude Puel
8,2016/2017,9,BOU,Bournemouth,42,12,10,16,55:67,-12,46,Eddie Howe
9,2016/2017,10,WBR,West Bromwich Albion,42,12,9,17,43:51,-8,45,Tony Pulis
10,2016/2017,11,WHA,West Ham United,42,12,9,17,47:64,-17,45,Slaven Bilic
11,2016/2017,12,LCI,Leicester City,42,12,8,18,48:63,-15,44,"Claudio Ranieri, Craig Shakespeare"
12,2016/2017,13,SCI,Stoke City,42,11,11,16,41:56,-15,44,Mark Hughes
13,2016/2017,14,CPA,Crystal Palace,42,12,5,21,50:63,-13,41,"Alan Pardew, Sam Allardyce"
14,2016/2017,15,SWA,Swansea City,42,12,5,21,45:70,-25,41,"Alan Curtis, Bob Bradley, Francesco Guidolin, ..."
15,2016/2017,16,BUR,Burnley,42,11,7,20,39:55,-16,40,Sean Dyche
16,2016/2017,17,WAT,Watford,42,11,7,20,40:68,-28,40,Walter Mazzarri
17,2016/2017,18,HCI,Hull City,42,9,7,22,37:80,-43,34,"Marco Silva, Mike Phelan"
18,2016/2017,19,MID,Middlesbrough,42,5,13,20,27:53,-26,28,"Aitor Karanka, Steve Agnew"
19,2016/2017,20,SUN,Sunderland,42,6,6,26,29:69,-40,24,David Moyes

In [32]:
updated_league_table.to_csv('2016_2017 League Table.csv')