In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1993"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,27,11,4,80:38,42,92
1,2,Blackburn,42,25,9,8,63:36,27,84
2,3,Newcastle,42,23,8,11,82:41,41,77
3,4,Arsenal,42,18,17,7,53:28,25,71
4,5,Leeds,42,18,16,8,65:39,26,70
5,6,Wimbledon FC,42,18,11,13,56:53,3,65
6,7,Sheff Wed,42,16,16,10,76:54,22,64
7,8,Liverpool,42,17,9,16,59:55,4,60
8,9,QPR,42,16,12,14,62:61,1,60
9,10,Aston Villa,42,15,12,15,46:50,-4,57
10,11,Coventry,42,14,14,14,43:45,-2,56
11,12,Norwich,42,12,17,13,65:61,4,53
12,13,West Ham,42,13,13,16,47:58,-11,52
13,14,Chelsea,42,13,12,17,49:53,-4,51
14,15,Tottenham,42,11,12,19,54:59,-5,45
15,16,Man City,42,9,18,15,38:49,-11,45
16,17,Everton,42,12,8,22,42:63,-21,44
17,18,Southampton,42,12,7,23,49:66,-17,43
18,19,Ipswich,42,9,16,17,35:58,-23,43
19,20,Sheff Utd,42,8,18,16,42:60,-18,42
20,21,Oldham Athletic,42,9,13,20,42:68,-26,40
21,22,Swindon Town,42,5,15,22,47:100,-53,30

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,27,11,4,80:38,42,92
1,2,Blackburn Rovers,42,25,9,8,63:36,27,84
2,3,Newcastle United,42,23,8,11,82:41,41,77
3,4,Arsenal,42,18,17,7,53:28,25,71
4,5,Leeds United,42,18,16,8,65:39,26,70
5,6,Wimbledon,42,18,11,13,56:53,3,65
6,7,Sheffield Wednesday,42,16,16,10,76:54,22,64
7,8,Liverpool,42,17,9,16,59:55,4,60
8,9,Queens Park Rangers,42,16,12,14,62:61,1,60
9,10,Aston Villa,42,15,12,15,46:50,-4,57
10,11,Coventry City,42,14,14,14,43:45,-2,56
11,12,Norwich City,42,12,17,13,65:61,4,53
12,13,West Ham United,42,13,13,16,47:58,-11,52
13,14,Chelsea,42,13,12,17,49:53,-4,51
14,15,Tottenham Hotspur,42,11,12,19,54:59,-5,45
15,16,Manchester City,42,9,18,15,38:49,-11,45
16,17,Everton,42,12,8,22,42:63,-21,44
17,18,Southampton,42,12,7,23,49:66,-17,43
18,19,Ipswich Town,42,9,16,17,35:58,-23,43
19,20,Sheffield United,42,8,18,16,42:60,-18,42
20,21,Oldham Athletic,42,9,13,20,42:68,-26,40
21,22,Swindon Town,42,5,15,22,47:100,-53,30

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '1993/1994')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,27,11,4,80:38,42,92,Sir Alex Ferguson
1,2,Blackburn Rovers,42,25,9,8,63:36,27,84,Sir Kenny Dalglish
2,3,Newcastle United,42,23,8,11,82:41,41,77,Kevin Keegan
3,4,Arsenal,42,18,17,7,53:28,25,71,George Graham
4,5,Leeds United,42,18,16,8,65:39,26,70,Howard Wilkinson
5,6,Wimbledon,42,18,11,13,56:53,3,65,Joe Kinnear
6,7,Sheffield Wednesday,42,16,16,10,76:54,22,64,Trevor Francis
7,8,Liverpool,42,17,9,16,59:55,4,60,"Graeme Souness, Roy Evans"
8,9,Queens Park Rangers,42,16,12,14,62:61,1,60,Gerry Francis
9,10,Aston Villa,42,15,12,15,46:50,-4,57,Ron Atkinson
10,11,Coventry City,42,14,14,14,43:45,-2,56,Phil Neal
11,12,Norwich City,42,12,17,13,65:61,4,53,"John Deehan, Mike Walker"
12,13,West Ham United,42,13,13,16,47:58,-11,52,Billy Bonds
13,14,Chelsea,42,13,12,17,49:53,-4,51,Glenn Hoddle
14,15,Tottenham Hotspur,42,11,12,19,54:59,-5,45,Osvaldo Ardiles
15,16,Manchester City,42,9,18,15,38:49,-11,45,Brian Horton
16,17,Everton,42,12,8,22,42:63,-21,44,"Howard Kendall, Mike Walker"
17,18,Southampton,42,12,7,23,49:66,-17,43,"Alan Ball, Ian Branfoot"
18,19,Ipswich Town,42,9,16,17,35:58,-23,43,John Lyall
19,20,Sheffield United,42,8,18,16,42:60,-18,42,Dave Bassett
20,21,Oldham Athletic,42,9,13,20,42:68,-26,40,Joe Royle
21,22,Swindon Town,42,5,15,22,47:100,-53,30,John Gorman

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1993/1994'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1993/1994,1,MUN,Manchester United,42,27,11,4,80:38,42,92,Sir Alex Ferguson
1,1993/1994,2,BRO,Blackburn Rovers,42,25,9,8,63:36,27,84,Sir Kenny Dalglish
2,1993/1994,3,NUN,Newcastle United,42,23,8,11,82:41,41,77,Kevin Keegan
3,1993/1994,4,ARS,Arsenal,42,18,17,7,53:28,25,71,George Graham
4,1993/1994,5,LUN,Leeds United,42,18,16,8,65:39,26,70,Howard Wilkinson
5,1993/1994,6,WIM,Wimbledon,42,18,11,13,56:53,3,65,Joe Kinnear
6,1993/1994,7,SWE,Sheffield Wednesday,42,16,16,10,76:54,22,64,Trevor Francis
7,1993/1994,8,LIV,Liverpool,42,17,9,16,59:55,4,60,"Graeme Souness, Roy Evans"
8,1993/1994,9,QPA,Queens Park Rangers,42,16,12,14,62:61,1,60,Gerry Francis
9,1993/1994,10,AVI,Aston Villa,42,15,12,15,46:50,-4,57,Ron Atkinson
10,1993/1994,11,COV,Coventry City,42,14,14,14,43:45,-2,56,Phil Neal
11,1993/1994,12,NCI,Norwich City,42,12,17,13,65:61,4,53,"John Deehan, Mike Walker"
12,1993/1994,13,WHA,West Ham United,42,13,13,16,47:58,-11,52,Billy Bonds
13,1993/1994,14,CHE,Chelsea,42,13,12,17,49:53,-4,51,Glenn Hoddle
14,1993/1994,15,THO,Tottenham Hotspur,42,11,12,19,54:59,-5,45,Osvaldo Ardiles
15,1993/1994,16,MCI,Manchester City,42,9,18,15,38:49,-11,45,Brian Horton
16,1993/1994,17,EVE,Everton,42,12,8,22,42:63,-21,44,"Howard Kendall, Mike Walker"
17,1993/1994,18,SOU,Southampton,42,12,7,23,49:66,-17,43,"Alan Ball, Ian Branfoot"
18,1993/1994,19,ITO,Ipswich Town,42,9,16,17,35:58,-23,43,John Lyall
19,1993/1994,20,SHU,Sheffield United,42,8,18,16,42:60,-18,42,Dave Bassett
20,1993/1994,21,OAT,Oldham Athletic,42,9,13,20,42:68,-26,40,Joe Royle
21,1993/1994,22,STO,Swindon Town,42,5,15,22,47:100,-53,30,John Gorman

In [17]:
updated_league_table.to_csv('1993_94 League Table.csv')