In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2022"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man City,42,28,5,5,94:33,61,89
1,2,Arsenal,42,26,6,6,88:43,45,84
2,3,Man Utd,42,23,6,9,58:43,15,75
3,4,Newcastle,42,19,14,5,68:33,35,71
4,5,Liverpool,42,19,10,9,75:47,28,67
5,6,Brighton,42,18,8,12,72:53,19,62
6,7,Aston Villa,42,18,7,13,51:46,5,61
7,8,Tottenham,42,18,6,14,70:63,7,60
8,9,Brentford,42,15,14,9,58:46,12,59
9,10,Fulham,42,15,7,16,55:53,2,52
10,11,Crystal Palace,42,11,12,15,40:49,-9,45
11,12,Chelsea,42,11,11,16,38:47,-9,44
12,13,Wolves,42,11,8,19,31:58,-27,41
13,14,West Ham,42,11,7,20,42:55,-13,40
14,15,Bournemouth,42,11,6,21,37:71,-34,39
15,16,Nottm Forest,42,9,11,18,38:68,-30,38
16,17,Everton,42,8,12,18,34:57,-23,36
17,18,Leicester,42,9,7,22,51:68,-17,34
18,19,Leeds,42,7,10,21,48:78,-30,31
19,20,Southampton,42,6,7,25,36:73,-37,25

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic', 'Swansea': 'Swansea City', 'Cardiff': 'Cardiff City', 'Huddersfield': 'Huddersfield Town', 'Brighton': 'Brighton & Hove Albion'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester City,42,28,5,5,94:33,61,89
1,2,Arsenal,42,26,6,6,88:43,45,84
2,3,Manchester United,42,23,6,9,58:43,15,75
3,4,Newcastle United,42,19,14,5,68:33,35,71
4,5,Liverpool,42,19,10,9,75:47,28,67
5,6,Brighton & Hove Albion,42,18,8,12,72:53,19,62
6,7,Aston Villa,42,18,7,13,51:46,5,61
7,8,Tottenham Hotspur,42,18,6,14,70:63,7,60
8,9,Brentford,42,15,14,9,58:46,12,59
9,10,Fulham,42,15,7,16,55:53,2,52
10,11,Crystal Palace,42,11,12,15,40:49,-9,45
11,12,Chelsea,42,11,11,16,38:47,-9,44
12,13,Wolverhampton Wanderers,42,11,8,19,31:58,-27,41
13,14,West Ham United,42,11,7,20,42:55,-13,40
14,15,Bournemouth,42,11,6,21,37:71,-34,39
15,16,Nottingham Forest,42,9,11,18,38:68,-30,38
16,17,Everton,42,8,12,18,34:57,-23,36
17,18,Leicester City,42,9,7,22,51:68,-17,34
18,19,Leeds United,42,7,10,21,48:78,-30,31
19,20,Southampton,42,6,7,25,36:73,-37,25

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2022/2023')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester City,42,28,5,5,94:33,61,89,Pep Guardiola
1,2,Arsenal,42,26,6,6,88:43,45,84,Mikel Arteta
2,3,Manchester United,42,23,6,9,58:43,15,75,Erik ten Hag
3,4,Newcastle United,42,19,14,5,68:33,35,71,Eddie Howe
4,5,Liverpool,42,19,10,9,75:47,28,67,Jurgen Klopp
5,6,Brighton & Hove Albion,42,18,8,12,72:53,19,62,"Graham Potter, Roberto De Zerbi"
6,7,Aston Villa,42,18,7,13,51:46,5,61,"Aaron Danks, Steven Gerrard, Unai Emery"
7,8,Tottenham Hotspur,42,18,6,14,70:63,7,60,"Antonio Conte, Cristian Stellini, Ryan Mason"
8,9,Brentford,42,15,14,9,58:46,12,59,Thomas Frank
9,10,Fulham,42,15,7,16,55:53,2,52,Marco Silva
10,11,Crystal Palace,42,11,12,15,40:49,-9,45,"Patrick McCarthy, Patrick Vieira, Roy Hodgson"
11,12,Chelsea,42,11,11,16,38:47,-9,44,"Bruno Saltor, Frank Lampard, Graham Potter, Th..."
12,13,Wolverhampton Wanderers,42,11,8,19,31:58,-27,41,"Bruno Lage, Julen Lopetegui, Steve Davis"
13,14,West Ham United,42,11,7,20,42:55,-13,40,David Moyes
14,15,Bournemouth,42,11,6,21,37:71,-34,39,"Gary O'Neil, Scott Parker"
15,16,Nottingham Forest,42,9,11,18,38:68,-30,38,Steve Cooper
16,17,Everton,42,8,12,18,34:57,-23,36,"Frank Lampard, Sean Dyche"
17,18,Leicester City,42,9,7,22,51:68,-17,34,"Brendan Rodgers, Dean Smith, Mike Stowell"
18,19,Leeds United,42,7,10,21,48:78,-30,31,"Javi Gracia, Jesse Marsch, Michael Skubala, Sa..."
19,20,Southampton,42,6,7,25,36:73,-37,25,"Nathan Jones, Ralph Hasenhuttl, Ruben Selles"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2022/2023'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2022/2023,1,MCI,Manchester City,42,28,5,5,94:33,61,89,Pep Guardiola
1,2022/2023,2,ARS,Arsenal,42,26,6,6,88:43,45,84,Mikel Arteta
2,2022/2023,3,MUN,Manchester United,42,23,6,9,58:43,15,75,Erik ten Hag
3,2022/2023,4,NUN,Newcastle United,42,19,14,5,68:33,35,71,Eddie Howe
4,2022/2023,5,LIV,Liverpool,42,19,10,9,75:47,28,67,Jurgen Klopp
5,2022/2023,6,BHA,Brighton & Hove Albion,42,18,8,12,72:53,19,62,"Graham Potter, Roberto De Zerbi"
6,2022/2023,7,AVI,Aston Villa,42,18,7,13,51:46,5,61,"Aaron Danks, Steven Gerrard, Unai Emery"
7,2022/2023,8,THO,Tottenham Hotspur,42,18,6,14,70:63,7,60,"Antonio Conte, Cristian Stellini, Ryan Mason"
8,2022/2023,9,BRE,Brentford,42,15,14,9,58:46,12,59,Thomas Frank
9,2022/2023,10,FUL,Fulham,42,15,7,16,55:53,2,52,Marco Silva
10,2022/2023,11,CPA,Crystal Palace,42,11,12,15,40:49,-9,45,"Patrick McCarthy, Patrick Vieira, Roy Hodgson"
11,2022/2023,12,CHE,Chelsea,42,11,11,16,38:47,-9,44,"Bruno Saltor, Frank Lampard, Graham Potter, Th..."
12,2022/2023,13,WWA,Wolverhampton Wanderers,42,11,8,19,31:58,-27,41,"Bruno Lage, Julen Lopetegui, Steve Davis"
13,2022/2023,14,WHA,West Ham United,42,11,7,20,42:55,-13,40,David Moyes
14,2022/2023,15,BOU,Bournemouth,42,11,6,21,37:71,-34,39,"Gary O'Neil, Scott Parker"
15,2022/2023,16,NFO,Nottingham Forest,42,9,11,18,38:68,-30,38,Steve Cooper
16,2022/2023,17,EVE,Everton,42,8,12,18,34:57,-23,36,"Frank Lampard, Sean Dyche"
17,2022/2023,18,LCI,Leicester City,42,9,7,22,51:68,-17,34,"Brendan Rodgers, Dean Smith, Mike Stowell"
18,2022/2023,19,LUN,Leeds United,42,7,10,21,48:78,-30,31,"Javi Gracia, Jesse Marsch, Michael Skubala, Sa..."
19,2022/2023,20,SOU,Southampton,42,6,7,25,36:73,-37,25,"Nathan Jones, Ralph Hasenhuttl, Ruben Selles"

In [17]:
updated_league_table.to_csv('2022_2023 League Table.csv')