In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2007"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,27,6,5,80:22,58,87
1,2,Chelsea,42,25,10,3,65:26,39,85
2,3,Arsenal,42,24,11,3,74:31,43,83
3,4,Liverpool,42,21,13,4,67:28,39,76
4,5,Everton,42,19,8,11,55:33,22,65
5,6,Aston Villa,42,16,12,10,71:51,20,60
6,7,Blackburn,42,15,13,10,50:48,2,58
7,8,Portsmouth,42,16,9,13,48:40,8,57
8,9,Man City,42,15,10,13,45:53,-8,55
9,10,West Ham,42,13,10,15,42:50,-8,49
10,11,Tottenham,42,11,13,14,66:61,5,46
11,12,Newcastle,42,11,10,17,45:65,-20,43
12,13,Middlesbrough,42,10,12,16,43:53,-10,42
13,14,Wigan,42,10,10,18,34:51,-17,40
14,15,Sunderland,42,11,6,21,36:59,-23,39
15,16,Bolton,42,9,10,19,36:54,-18,37
16,17,Fulham,42,8,12,18,38:60,-22,36
17,18,Reading,42,10,6,22,41:66,-25,36
18,19,Birmingham,42,8,11,19,46:62,-16,35
19,20,Derby,42,1,8,29,20:89,-69,11

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,27,6,5,80:22,58,87
1,2,Chelsea,42,25,10,3,65:26,39,85
2,3,Arsenal,42,24,11,3,74:31,43,83
3,4,Liverpool,42,21,13,4,67:28,39,76
4,5,Everton,42,19,8,11,55:33,22,65
5,6,Aston Villa,42,16,12,10,71:51,20,60
6,7,Blackburn Rovers,42,15,13,10,50:48,2,58
7,8,Portsmouth,42,16,9,13,48:40,8,57
8,9,Manchester City,42,15,10,13,45:53,-8,55
9,10,West Ham United,42,13,10,15,42:50,-8,49
10,11,Tottenham Hotspur,42,11,13,14,66:61,5,46
11,12,Newcastle United,42,11,10,17,45:65,-20,43
12,13,Middlesbrough,42,10,12,16,43:53,-10,42
13,14,Wigan Athletic,42,10,10,18,34:51,-17,40
14,15,Sunderland,42,11,6,21,36:59,-23,39
15,16,Bolton Wanderers,42,9,10,19,36:54,-18,37
16,17,Fulham,42,8,12,18,38:60,-22,36
17,18,Reading,42,10,6,22,41:66,-25,36
18,19,Birmingham City,42,8,11,19,46:62,-16,35
19,20,Derby County,42,1,8,29,20:89,-69,11

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2007/2008')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,27,6,5,80:22,58,87,Sir Alex Ferguson
1,2,Chelsea,42,25,10,3,65:26,39,85,"Avram Grant, Jose Mourinho"
2,3,Arsenal,42,24,11,3,74:31,43,83,Arsene Wenger
3,4,Liverpool,42,21,13,4,67:28,39,76,Rafael Benitez
4,5,Everton,42,19,8,11,55:33,22,65,David Moyes
5,6,Aston Villa,42,16,12,10,71:51,20,60,Martin O'Neill
6,7,Blackburn Rovers,42,15,13,10,50:48,2,58,Mark Hughes
7,8,Portsmouth,42,16,9,13,48:40,8,57,Harry Redknapp
8,9,Manchester City,42,15,10,13,45:53,-8,55,Sven-Goran Eriksson
9,10,West Ham United,42,13,10,15,42:50,-8,49,Alan Curbishley
10,11,Tottenham Hotspur,42,11,13,14,66:61,5,46,"Juande Ramos, Martin Jol"
11,12,Newcastle United,42,11,10,17,45:65,-20,43,"Kevin Keegan, Nigel Pearson, Sam Allardyce"
12,13,Middlesbrough,42,10,12,16,43:53,-10,42,Gareth Southgate
13,14,Wigan Athletic,42,10,10,18,34:51,-17,40,"Chris Hutchings, Frank Barlow, Steve Bruce"
14,15,Sunderland,42,11,6,21,36:59,-23,39,Roy Keane
15,16,Bolton Wanderers,42,9,10,19,36:54,-18,37,"Archie Knox, Gary Megson, Sammy Lee"
16,17,Fulham,42,8,12,18,38:60,-22,36,"Billy McKinlay, Lawrie Sanchez, Roy Hodgson"
17,18,Reading,42,10,6,22,41:66,-25,36,Steve Coppell
18,19,Birmingham City,42,8,11,19,46:62,-16,35,"Alex McLeish, Eric Black, Kristjaan Speakman"
19,20,Derby County,42,1,8,29,20:89,-69,11,"Billy Davies, Paul Jewell"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2007/2008'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2007/2008,1,MUN,Manchester United,42,27,6,5,80:22,58,87,Sir Alex Ferguson
1,2007/2008,2,CHE,Chelsea,42,25,10,3,65:26,39,85,"Avram Grant, Jose Mourinho"
2,2007/2008,3,ARS,Arsenal,42,24,11,3,74:31,43,83,Arsene Wenger
3,2007/2008,4,LIV,Liverpool,42,21,13,4,67:28,39,76,Rafael Benitez
4,2007/2008,5,EVE,Everton,42,19,8,11,55:33,22,65,David Moyes
5,2007/2008,6,AVI,Aston Villa,42,16,12,10,71:51,20,60,Martin O'Neill
6,2007/2008,7,BRO,Blackburn Rovers,42,15,13,10,50:48,2,58,Mark Hughes
7,2007/2008,8,POR,Portsmouth,42,16,9,13,48:40,8,57,Harry Redknapp
8,2007/2008,9,MCI,Manchester City,42,15,10,13,45:53,-8,55,Sven-Goran Eriksson
9,2007/2008,10,WHA,West Ham United,42,13,10,15,42:50,-8,49,Alan Curbishley
10,2007/2008,11,THO,Tottenham Hotspur,42,11,13,14,66:61,5,46,"Juande Ramos, Martin Jol"
11,2007/2008,12,NUN,Newcastle United,42,11,10,17,45:65,-20,43,"Kevin Keegan, Nigel Pearson, Sam Allardyce"
12,2007/2008,13,MID,Middlesbrough,42,10,12,16,43:53,-10,42,Gareth Southgate
13,2007/2008,14,WGA,Wigan Athletic,42,10,10,18,34:51,-17,40,"Chris Hutchings, Frank Barlow, Steve Bruce"
14,2007/2008,15,SUN,Sunderland,42,11,6,21,36:59,-23,39,Roy Keane
15,2007/2008,16,BWA,Bolton Wanderers,42,9,10,19,36:54,-18,37,"Archie Knox, Gary Megson, Sammy Lee"
16,2007/2008,17,FUL,Fulham,42,8,12,18,38:60,-22,36,"Billy McKinlay, Lawrie Sanchez, Roy Hodgson"
17,2007/2008,18,REA,Reading,42,10,6,22,41:66,-25,36,Steve Coppell
18,2007/2008,19,BCI,Birmingham City,42,8,11,19,46:62,-16,35,"Alex McLeish, Eric Black, Kristjaan Speakman"
19,2007/2008,20,DCO,Derby County,42,1,8,29,20:89,-69,11,"Billy Davies, Paul Jewell"

In [17]:
updated_league_table.to_csv('2007_2008 League Table.csv')