In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2015"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Leicester,42,23,12,3,68:36,32,81
1,2,Arsenal,42,20,11,7,65:36,29,71
2,3,Tottenham,42,19,13,6,69:35,34,70
3,4,Man City,42,19,9,10,71:41,30,66
4,5,Man Utd,42,19,9,10,49:35,14,66
5,6,Southampton,42,18,9,11,59:41,18,63
6,7,West Ham,42,16,14,8,65:51,14,62
7,8,Liverpool,42,16,12,10,63:50,13,60
8,9,Stoke City,42,14,9,15,41:55,-14,51
9,10,Chelsea,42,12,14,12,59:53,6,50
10,11,Everton,42,11,14,13,59:55,4,47
11,12,Swansea,42,12,11,15,42:52,-10,47
12,13,Watford,42,12,9,17,40:50,-10,45
13,14,West Brom,42,10,13,15,34:48,-14,43
14,15,Crystal Palace,42,11,9,18,39:51,-12,42
15,16,Bournemouth,42,11,9,18,45:67,-22,42
16,17,Sunderland,42,9,12,17,48:62,-14,39
17,18,Newcastle,42,9,10,19,44:65,-21,37
18,19,Norwich,42,9,7,22,39:67,-28,34
19,20,Aston Villa,42,3,8,27,27:76,-49,17

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic', 'Swansea': 'Swansea City', 'Cardiff': 'Cardiff City'}, inplace=True)

In [11]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Leicester City,42,23,12,3,68:36,32,81
1,2,Arsenal,42,20,11,7,65:36,29,71
2,3,Tottenham Hotspur,42,19,13,6,69:35,34,70
3,4,Manchester City,42,19,9,10,71:41,30,66
4,5,Manchester United,42,19,9,10,49:35,14,66
5,6,Southampton,42,18,9,11,59:41,18,63
6,7,West Ham United,42,16,14,8,65:51,14,62
7,8,Liverpool,42,16,12,10,63:50,13,60
8,9,Stoke City,42,14,9,15,41:55,-14,51
9,10,Chelsea,42,12,14,12,59:53,6,50
10,11,Everton,42,11,14,13,59:55,4,47
11,12,Swansea City,42,12,11,15,42:52,-10,47
12,13,Watford,42,12,9,17,40:50,-10,45
13,14,West Bromwich Albion,42,10,13,15,34:48,-14,43
14,15,Crystal Palace,42,11,9,18,39:51,-12,42
15,16,Bournemouth,42,11,9,18,45:67,-22,42
16,17,Sunderland,42,9,12,17,48:62,-14,39
17,18,Newcastle United,42,9,10,19,44:65,-21,37
18,19,Norwich City,42,9,7,22,39:67,-28,34
19,20,Aston Villa,42,3,8,27,27:76,-49,17

In [12]:
# Close the driver
driver.quit()

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2015/2016')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Leicester City,42,23,12,3,68:36,32,81,Claudio Ranieri
1,2,Arsenal,42,20,11,7,65:36,29,71,Arsene Wenger
2,3,Tottenham Hotspur,42,19,13,6,69:35,34,70,Mauricio Pochettino
3,4,Manchester City,42,19,9,10,71:41,30,66,Manuel Pellegrini
4,5,Manchester United,42,19,9,10,49:35,14,66,Louis van Gaal
5,6,Southampton,42,18,9,11,59:41,18,63,Ronald Koeman
6,7,West Ham United,42,16,14,8,65:51,14,62,Slaven Bilic
7,8,Liverpool,42,16,12,10,63:50,13,60,"Brendan Rodgers, Jurgen Klopp"
8,9,Stoke City,42,14,9,15,41:55,-14,51,Mark Hughes
9,10,Chelsea,42,12,14,12,59:53,6,50,"Guus Hiddink, Jose Mourinho, Steve Holland"
10,11,Everton,42,11,14,13,59:55,4,47,"David Unsworth, Roberto Martinez"
11,12,Swansea City,42,12,11,15,42:52,-10,47,"Alan Curtis, Francesco Guidolin, Garry Monk"
12,13,Watford,42,12,9,17,40:50,-10,45,Quique Sanchez Flores
13,14,West Bromwich Albion,42,10,13,15,34:48,-14,43,Tony Pulis
14,15,Crystal Palace,42,11,9,18,39:51,-12,42,Alan Pardew
15,16,Bournemouth,42,11,9,18,45:67,-22,42,Eddie Howe
16,17,Sunderland,42,9,12,17,48:62,-14,39,"Dick Advocaat, Sam Allardyce"
17,18,Newcastle United,42,9,10,19,44:65,-21,37,"Rafael Benitez, Steve McClaren"
18,19,Norwich City,42,9,7,22,39:67,-28,34,Alex Neil
19,20,Aston Villa,42,3,8,27,27:76,-49,17,"Eric Black, Kevin MacDonald, Remi Garde, Tim S..."

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2015/2016'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2015/2016,1,LCI,Leicester City,42,23,12,3,68:36,32,81,Claudio Ranieri
1,2015/2016,2,ARS,Arsenal,42,20,11,7,65:36,29,71,Arsene Wenger
2,2015/2016,3,THO,Tottenham Hotspur,42,19,13,6,69:35,34,70,Mauricio Pochettino
3,2015/2016,4,MCI,Manchester City,42,19,9,10,71:41,30,66,Manuel Pellegrini
4,2015/2016,5,MUN,Manchester United,42,19,9,10,49:35,14,66,Louis van Gaal
5,2015/2016,6,SOU,Southampton,42,18,9,11,59:41,18,63,Ronald Koeman
6,2015/2016,7,WHA,West Ham United,42,16,14,8,65:51,14,62,Slaven Bilic
7,2015/2016,8,LIV,Liverpool,42,16,12,10,63:50,13,60,"Brendan Rodgers, Jurgen Klopp"
8,2015/2016,9,SCI,Stoke City,42,14,9,15,41:55,-14,51,Mark Hughes
9,2015/2016,10,CHE,Chelsea,42,12,14,12,59:53,6,50,"Guus Hiddink, Jose Mourinho, Steve Holland"
10,2015/2016,11,EVE,Everton,42,11,14,13,59:55,4,47,"David Unsworth, Roberto Martinez"
11,2015/2016,12,SWA,Swansea City,42,12,11,15,42:52,-10,47,"Alan Curtis, Francesco Guidolin, Garry Monk"
12,2015/2016,13,WAT,Watford,42,12,9,17,40:50,-10,45,Quique Sanchez Flores
13,2015/2016,14,WBR,West Bromwich Albion,42,10,13,15,34:48,-14,43,Tony Pulis
14,2015/2016,15,CPA,Crystal Palace,42,11,9,18,39:51,-12,42,Alan Pardew
15,2015/2016,16,BOU,Bournemouth,42,11,9,18,45:67,-22,42,Eddie Howe
16,2015/2016,17,SUN,Sunderland,42,9,12,17,48:62,-14,39,"Dick Advocaat, Sam Allardyce"
17,2015/2016,18,NUN,Newcastle United,42,9,10,19,44:65,-21,37,"Rafael Benitez, Steve McClaren"
18,2015/2016,19,NCI,Norwich City,42,9,7,22,39:67,-28,34,Alex Neil
19,2015/2016,20,AVI,Aston Villa,42,3,8,27,27:76,-49,17,"Eric Black, Kevin MacDonald, Remi Garde, Tim S..."

In [17]:
updated_league_table.to_csv('2015_2016 League Table.csv')