In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2003"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Arsenal,42,26,12,0,73:26,47,90
1,2,Chelsea,42,24,7,7,67:30,37,79
2,3,Man Utd,42,23,6,9,64:35,29,75
3,4,Liverpool,42,16,12,10,55:37,18,60
4,5,Newcastle,42,13,17,8,52:40,12,56
5,6,Aston Villa,42,15,11,12,48:44,4,56
6,7,Charlton,42,14,11,13,51:51,0,53
7,8,Bolton,42,14,11,13,48:56,-8,53
8,9,Fulham,42,14,10,14,52:46,6,52
9,10,Birmingham,42,12,14,12,43:48,-5,50
10,11,Middlesbrough,42,13,9,16,44:52,-8,48
11,12,Southampton,42,12,11,15,44:45,-1,47
12,13,Portsmouth,42,12,9,17,47:54,-7,45
13,14,Tottenham,42,13,6,19,47:57,-10,45
14,15,Blackburn,42,12,8,18,51:59,-8,44
15,16,Man City,42,9,14,15,55:54,1,41
16,17,Everton,42,9,12,17,45:57,-12,39
17,18,Leicester,42,6,15,17,48:65,-17,33
18,19,Leeds,42,8,9,21,40:79,-39,33
19,20,Wolves,42,7,12,19,38:77,-39,33

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Arsenal,42,26,12,0,73:26,47,90
1,2,Chelsea,42,24,7,7,67:30,37,79
2,3,Manchester United,42,23,6,9,64:35,29,75
3,4,Liverpool,42,16,12,10,55:37,18,60
4,5,Newcastle United,42,13,17,8,52:40,12,56
5,6,Aston Villa,42,15,11,12,48:44,4,56
6,7,Charlton Athletic,42,14,11,13,51:51,0,53
7,8,Bolton Wanderers,42,14,11,13,48:56,-8,53
8,9,Fulham,42,14,10,14,52:46,6,52
9,10,Birmingham City,42,12,14,12,43:48,-5,50
10,11,Middlesbrough,42,13,9,16,44:52,-8,48
11,12,Southampton,42,12,11,15,44:45,-1,47
12,13,Portsmouth,42,12,9,17,47:54,-7,45
13,14,Tottenham Hotspur,42,13,6,19,47:57,-10,45
14,15,Blackburn Rovers,42,12,8,18,51:59,-8,44
15,16,Manchester City,42,9,14,15,55:54,1,41
16,17,Everton,42,9,12,17,45:57,-12,39
17,18,Leicester City,42,6,15,17,48:65,-17,33
18,19,Leeds United,42,8,9,21,40:79,-39,33
19,20,Wolverhampton Wanderers,42,7,12,19,38:77,-39,33

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2003/2004')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Arsenal,42,26,12,0,73:26,47,90,Arsene Wenger
1,2,Chelsea,42,24,7,7,67:30,37,79,Claudio Ranieri
2,3,Manchester United,42,23,6,9,64:35,29,75,Sir Alex Ferguson
3,4,Liverpool,42,16,12,10,55:37,18,60,Gerard Houllier
4,5,Newcastle United,42,13,17,8,52:40,12,56,Sir Bobby Robson
5,6,Aston Villa,42,15,11,12,48:44,4,56,David O'Leary
6,7,Charlton Athletic,42,14,11,13,51:51,0,53,Alan Curbishley
7,8,Bolton Wanderers,42,14,11,13,48:56,-8,53,Sam Allardyce
8,9,Fulham,42,14,10,14,52:46,6,52,Chris Coleman
9,10,Birmingham City,42,12,14,12,43:48,-5,50,Steve Bruce
10,11,Middlesbrough,42,13,9,16,44:52,-8,48,Steve McClaren
11,12,Southampton,42,12,11,15,44:45,-1,47,"Gordon Strachan, Paul Sturrock"
12,13,Portsmouth,42,12,9,17,47:54,-7,45,Harry Redknapp
13,14,Tottenham Hotspur,42,13,6,19,47:57,-10,45,"David Pleat, Glenn Hoddle"
14,15,Blackburn Rovers,42,12,8,18,51:59,-8,44,Graeme Souness
15,16,Manchester City,42,9,14,15,55:54,1,41,Kevin Keegan
16,17,Everton,42,9,12,17,45:57,-12,39,David Moyes
17,18,Leicester City,42,6,15,17,48:65,-17,33,Micky Adams
18,19,Leeds United,42,8,9,21,40:79,-39,33,"Eddie Gray, Peter Reid"
19,20,Wolverhampton Wanderers,42,7,12,19,38:77,-39,33,Dave Jones

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2003/2004'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2003/2004,1,ARS,Arsenal,42,26,12,0,73:26,47,90,Arsene Wenger
1,2003/2004,2,CHE,Chelsea,42,24,7,7,67:30,37,79,Claudio Ranieri
2,2003/2004,3,MUN,Manchester United,42,23,6,9,64:35,29,75,Sir Alex Ferguson
3,2003/2004,4,LIV,Liverpool,42,16,12,10,55:37,18,60,Gerard Houllier
4,2003/2004,5,NUN,Newcastle United,42,13,17,8,52:40,12,56,Sir Bobby Robson
5,2003/2004,6,AVI,Aston Villa,42,15,11,12,48:44,4,56,David O'Leary
6,2003/2004,7,CAT,Charlton Athletic,42,14,11,13,51:51,0,53,Alan Curbishley
7,2003/2004,8,BWA,Bolton Wanderers,42,14,11,13,48:56,-8,53,Sam Allardyce
8,2003/2004,9,FUL,Fulham,42,14,10,14,52:46,6,52,Chris Coleman
9,2003/2004,10,BCI,Birmingham City,42,12,14,12,43:48,-5,50,Steve Bruce
10,2003/2004,11,MID,Middlesbrough,42,13,9,16,44:52,-8,48,Steve McClaren
11,2003/2004,12,SOU,Southampton,42,12,11,15,44:45,-1,47,"Gordon Strachan, Paul Sturrock"
12,2003/2004,13,POR,Portsmouth,42,12,9,17,47:54,-7,45,Harry Redknapp
13,2003/2004,14,THO,Tottenham Hotspur,42,13,6,19,47:57,-10,45,"David Pleat, Glenn Hoddle"
14,2003/2004,15,BRO,Blackburn Rovers,42,12,8,18,51:59,-8,44,Graeme Souness
15,2003/2004,16,MCI,Manchester City,42,9,14,15,55:54,1,41,Kevin Keegan
16,2003/2004,17,EVE,Everton,42,9,12,17,45:57,-12,39,David Moyes
17,2003/2004,18,LCI,Leicester City,42,6,15,17,48:65,-17,33,Micky Adams
18,2003/2004,19,LUN,Leeds United,42,8,9,21,40:79,-39,33,"Eddie Gray, Peter Reid"
19,2003/2004,20,WWA,Wolverhampton Wanderers,42,7,12,19,38:77,-39,33,Dave Jones

In [17]:
updated_league_table.to_csv('2003_2004 League Table.csv')