In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2021"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man City,42,29,6,3,99:26,73,93
1,2,Liverpool,42,28,8,2,94:26,68,92
2,3,Chelsea,42,21,11,6,76:33,43,74
3,4,Tottenham,42,22,5,11,69:40,29,71
4,5,Arsenal,42,22,3,13,61:48,13,69
5,6,Man Utd,42,16,10,12,57:57,0,58
6,7,West Ham,42,16,8,14,60:51,9,56
7,8,Leicester,42,14,10,14,62:59,3,52
8,9,Brighton,42,12,15,11,42:44,-2,51
9,10,Wolves,42,15,6,17,38:43,-5,51
10,11,Newcastle,42,13,10,15,44:62,-18,49
11,12,Crystal Palace,42,11,15,12,50:46,4,48
12,13,Brentford,42,13,7,18,48:56,-8,46
13,14,Aston Villa,42,13,6,19,52:54,-2,45
14,15,Southampton,42,9,13,16,43:67,-24,40
15,16,Everton,42,11,6,21,43:66,-23,39
16,17,Leeds,42,9,11,18,42:79,-37,38
17,18,Burnley,42,7,14,17,34:53,-19,35
18,19,Watford,42,6,5,27,34:77,-43,23
19,20,Norwich,42,5,7,26,23:84,-61,22

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic', 'Swansea': 'Swansea City', 'Cardiff': 'Cardiff City', 'Huddersfield': 'Huddersfield Town', 'Brighton': 'Brighton & Hove Albion'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester City,42,29,6,3,99:26,73,93
1,2,Liverpool,42,28,8,2,94:26,68,92
2,3,Chelsea,42,21,11,6,76:33,43,74
3,4,Tottenham Hotspur,42,22,5,11,69:40,29,71
4,5,Arsenal,42,22,3,13,61:48,13,69
5,6,Manchester United,42,16,10,12,57:57,0,58
6,7,West Ham United,42,16,8,14,60:51,9,56
7,8,Leicester City,42,14,10,14,62:59,3,52
8,9,Brighton & Hove Albion,42,12,15,11,42:44,-2,51
9,10,Wolverhampton Wanderers,42,15,6,17,38:43,-5,51
10,11,Newcastle United,42,13,10,15,44:62,-18,49
11,12,Crystal Palace,42,11,15,12,50:46,4,48
12,13,Brentford,42,13,7,18,48:56,-8,46
13,14,Aston Villa,42,13,6,19,52:54,-2,45
14,15,Southampton,42,9,13,16,43:67,-24,40
15,16,Everton,42,11,6,21,43:66,-23,39
16,17,Leeds United,42,9,11,18,42:79,-37,38
17,18,Burnley,42,7,14,17,34:53,-19,35
18,19,Watford,42,6,5,27,34:77,-43,23
19,20,Norwich City,42,5,7,26,23:84,-61,22

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2021/2022')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester City,42,29,6,3,99:26,73,93,Pep Guardiola
1,2,Liverpool,42,28,8,2,94:26,68,92,Jurgen Klopp
2,3,Chelsea,42,21,11,6,76:33,43,74,Thomas Tuchel
3,4,Tottenham Hotspur,42,22,5,11,69:40,29,71,"Antonio Conte, Nuno Espirito Santo"
4,5,Arsenal,42,22,3,13,61:48,13,69,Mikel Arteta
5,6,Manchester United,42,16,10,12,57:57,0,58,"Michael Carrick, Ole Gunnar Solskjaer, Ralf Ra..."
6,7,West Ham United,42,16,8,14,60:51,9,56,David Moyes
7,8,Leicester City,42,14,10,14,62:59,3,52,Brendan Rodgers
8,9,Brighton & Hove Albion,42,12,15,11,42:44,-2,51,Graham Potter
9,10,Wolverhampton Wanderers,42,15,6,17,38:43,-5,51,Bruno Lage
10,11,Newcastle United,42,13,10,15,44:62,-18,49,"Eddie Howe, Graeme Jones, Steve Bruce"
11,12,Crystal Palace,42,11,15,12,50:46,4,48,Patrick Vieira
12,13,Brentford,42,13,7,18,48:56,-8,46,Thomas Frank
13,14,Aston Villa,42,13,6,19,52:54,-2,45,"Dean Smith, Steven Gerrard"
14,15,Southampton,42,9,13,16,43:67,-24,40,Ralph Hasenhuttl
15,16,Everton,42,11,6,21,43:66,-23,39,"Duncan Ferguson, Frank Lampard, Rafael Benitez"
16,17,Leeds United,42,9,11,18,42:79,-37,38,"Jesse Marsch, Marcelo Bielsa"
17,18,Burnley,42,7,14,17,34:53,-19,35,"Mike Jackson, Sean Dyche"
18,19,Watford,42,6,5,27,34:77,-43,23,"Claudio Ranieri, Roy Hodgson, Xisco Munoz"
19,20,Norwich City,42,5,7,26,23:84,-61,22,"Daniel Farke, Dean Smith"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2021/2022'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2021/2022,1,MCI,Manchester City,42,29,6,3,99:26,73,93,Pep Guardiola
1,2021/2022,2,LIV,Liverpool,42,28,8,2,94:26,68,92,Jurgen Klopp
2,2021/2022,3,CHE,Chelsea,42,21,11,6,76:33,43,74,Thomas Tuchel
3,2021/2022,4,THO,Tottenham Hotspur,42,22,5,11,69:40,29,71,"Antonio Conte, Nuno Espirito Santo"
4,2021/2022,5,ARS,Arsenal,42,22,3,13,61:48,13,69,Mikel Arteta
5,2021/2022,6,MUN,Manchester United,42,16,10,12,57:57,0,58,"Michael Carrick, Ole Gunnar Solskjaer, Ralf Ra..."
6,2021/2022,7,WHA,West Ham United,42,16,8,14,60:51,9,56,David Moyes
7,2021/2022,8,LCI,Leicester City,42,14,10,14,62:59,3,52,Brendan Rodgers
8,2021/2022,9,BHA,Brighton & Hove Albion,42,12,15,11,42:44,-2,51,Graham Potter
9,2021/2022,10,WWA,Wolverhampton Wanderers,42,15,6,17,38:43,-5,51,Bruno Lage
10,2021/2022,11,NUN,Newcastle United,42,13,10,15,44:62,-18,49,"Eddie Howe, Graeme Jones, Steve Bruce"
11,2021/2022,12,CPA,Crystal Palace,42,11,15,12,50:46,4,48,Patrick Vieira
12,2021/2022,13,BRE,Brentford,42,13,7,18,48:56,-8,46,Thomas Frank
13,2021/2022,14,AVI,Aston Villa,42,13,6,19,52:54,-2,45,"Dean Smith, Steven Gerrard"
14,2021/2022,15,SOU,Southampton,42,9,13,16,43:67,-24,40,Ralph Hasenhuttl
15,2021/2022,16,EVE,Everton,42,11,6,21,43:66,-23,39,"Duncan Ferguson, Frank Lampard, Rafael Benitez"
16,2021/2022,17,LUN,Leeds United,42,9,11,18,42:79,-37,38,"Jesse Marsch, Marcelo Bielsa"
17,2021/2022,18,BUR,Burnley,42,7,14,17,34:53,-19,35,"Mike Jackson, Sean Dyche"
18,2021/2022,19,WAT,Watford,42,6,5,27,34:77,-43,23,"Claudio Ranieri, Roy Hodgson, Xisco Munoz"
19,2021/2022,20,NCI,Norwich City,42,5,7,26,23:84,-61,22,"Daniel Farke, Dean Smith"

In [17]:
updated_league_table.to_csv('2021_2022 League Table.csv')