In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2013"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man City,42,27,5,6,102:37,65,86
1,2,Liverpool,42,26,6,6,101:50,51,84
2,3,Chelsea,42,25,7,6,71:27,44,82
3,4,Arsenal,42,24,7,7,68:41,27,79
4,5,Everton,42,21,9,8,61:39,22,72
5,6,Tottenham,42,21,6,11,55:51,4,69
6,7,Man Utd,42,19,7,12,64:43,21,64
7,8,Southampton,42,15,11,12,54:46,8,56
8,9,Stoke City,42,13,11,14,45:52,-7,50
9,10,Newcastle,42,15,4,19,43:59,-16,49
10,11,Crystal Palace,42,13,6,19,33:48,-15,45
11,12,Swansea,42,11,9,18,54:54,0,42
12,13,West Ham,42,11,7,20,40:51,-11,40
13,14,Sunderland,42,10,8,20,41:60,-19,38
14,15,Aston Villa,42,10,8,20,39:61,-22,38
15,16,Hull City,42,10,7,21,38:53,-15,37
16,17,West Brom,42,7,15,16,43:59,-16,36
17,18,Norwich,42,8,9,21,28:62,-34,33
18,19,Fulham,42,9,5,24,40:85,-45,32
19,20,Cardiff,42,7,9,22,32:74,-42,30

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic', 'Swansea': 'Swansea City', 'Cardiff': 'Cardiff City'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester City,42,27,5,6,102:37,65,86
1,2,Liverpool,42,26,6,6,101:50,51,84
2,3,Chelsea,42,25,7,6,71:27,44,82
3,4,Arsenal,42,24,7,7,68:41,27,79
4,5,Everton,42,21,9,8,61:39,22,72
5,6,Tottenham Hotspur,42,21,6,11,55:51,4,69
6,7,Manchester United,42,19,7,12,64:43,21,64
7,8,Southampton,42,15,11,12,54:46,8,56
8,9,Stoke City,42,13,11,14,45:52,-7,50
9,10,Newcastle United,42,15,4,19,43:59,-16,49
10,11,Crystal Palace,42,13,6,19,33:48,-15,45
11,12,Swansea City,42,11,9,18,54:54,0,42
12,13,West Ham United,42,11,7,20,40:51,-11,40
13,14,Sunderland,42,10,8,20,41:60,-19,38
14,15,Aston Villa,42,10,8,20,39:61,-22,38
15,16,Hull City,42,10,7,21,38:53,-15,37
16,17,West Bromwich Albion,42,7,15,16,43:59,-16,36
17,18,Norwich City,42,8,9,21,28:62,-34,33
18,19,Fulham,42,9,5,24,40:85,-45,32
19,20,Cardiff City,42,7,9,22,32:74,-42,30

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2013/2014')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester City,42,27,5,6,102:37,65,86,Manuel Pellegrini
1,2,Liverpool,42,26,6,6,101:50,51,84,Brendan Rodgers
2,3,Chelsea,42,25,7,6,71:27,44,82,Jose Mourinho
3,4,Arsenal,42,24,7,7,68:41,27,79,Arsene Wenger
4,5,Everton,42,21,9,8,61:39,22,72,Roberto Martinez
5,6,Tottenham Hotspur,42,21,6,11,55:51,4,69,"Andre Villas-Boas, Tim Sherwood"
6,7,Manchester United,42,19,7,12,64:43,21,64,"David Moyes, Ryan Giggs"
7,8,Southampton,42,15,11,12,54:46,8,56,Mauricio Pochettino
8,9,Stoke City,42,13,11,14,45:52,-7,50,Mark Hughes
9,10,Newcastle United,42,15,4,19,43:59,-16,49,Alan Pardew
10,11,Crystal Palace,42,13,6,19,33:48,-15,45,"Ian Holloway, Keith Millen, Tony Pulis"
11,12,Swansea City,42,11,9,18,54:54,0,42,"Garry Monk, Michael Laudrup"
12,13,West Ham United,42,11,7,20,40:51,-11,40,Sam Allardyce
13,14,Sunderland,42,10,8,20,41:60,-19,38,"Gustavo Poyet, Kevin Ball, Paolo Di Canio"
14,15,Aston Villa,42,10,8,20,39:61,-22,38,Paul Lambert
15,16,Hull City,42,10,7,21,38:53,-15,37,Steve Bruce
16,17,West Bromwich Albion,42,7,15,16,43:59,-16,36,"Keith Downing, Pepe Mel, Steve Clarke"
17,18,Norwich City,42,8,9,21,28:62,-34,33,"Chris Hughton, Neil Adams"
18,19,Fulham,42,9,5,24,40:85,-45,32,"Felix Magath, Martin Jol, Rene Meulensteen"
19,20,Cardiff City,42,7,9,22,32:74,-42,30,"David Kerslake, Malky Mackay, Ole Gunnar Solsk..."

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2013/2014'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2013/2014,1,MCI,Manchester City,42,27,5,6,102:37,65,86,Manuel Pellegrini
1,2013/2014,2,LIV,Liverpool,42,26,6,6,101:50,51,84,Brendan Rodgers
2,2013/2014,3,CHE,Chelsea,42,25,7,6,71:27,44,82,Jose Mourinho
3,2013/2014,4,ARS,Arsenal,42,24,7,7,68:41,27,79,Arsene Wenger
4,2013/2014,5,EVE,Everton,42,21,9,8,61:39,22,72,Roberto Martinez
5,2013/2014,6,THO,Tottenham Hotspur,42,21,6,11,55:51,4,69,"Andre Villas-Boas, Tim Sherwood"
6,2013/2014,7,MUN,Manchester United,42,19,7,12,64:43,21,64,"David Moyes, Ryan Giggs"
7,2013/2014,8,SOU,Southampton,42,15,11,12,54:46,8,56,Mauricio Pochettino
8,2013/2014,9,SCI,Stoke City,42,13,11,14,45:52,-7,50,Mark Hughes
9,2013/2014,10,NUN,Newcastle United,42,15,4,19,43:59,-16,49,Alan Pardew
10,2013/2014,11,CPA,Crystal Palace,42,13,6,19,33:48,-15,45,"Ian Holloway, Keith Millen, Tony Pulis"
11,2013/2014,12,SWA,Swansea City,42,11,9,18,54:54,0,42,"Garry Monk, Michael Laudrup"
12,2013/2014,13,WHA,West Ham United,42,11,7,20,40:51,-11,40,Sam Allardyce
13,2013/2014,14,SUN,Sunderland,42,10,8,20,41:60,-19,38,"Gustavo Poyet, Kevin Ball, Paolo Di Canio"
14,2013/2014,15,AVI,Aston Villa,42,10,8,20,39:61,-22,38,Paul Lambert
15,2013/2014,16,HCI,Hull City,42,10,7,21,38:53,-15,37,Steve Bruce
16,2013/2014,17,WBR,West Bromwich Albion,42,7,15,16,43:59,-16,36,"Keith Downing, Pepe Mel, Steve Clarke"
17,2013/2014,18,NCI,Norwich City,42,8,9,21,28:62,-34,33,"Chris Hughton, Neil Adams"
18,2013/2014,19,FUL,Fulham,42,9,5,24,40:85,-45,32,"Felix Magath, Martin Jol, Rene Meulensteen"
19,2013/2014,20,CCI,Cardiff City,42,7,9,22,32:74,-42,30,"David Kerslake, Malky Mackay, Ole Gunnar Solsk..."

In [17]:
updated_league_table.to_csv('2013_2014 League Table.csv')