In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2010"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,23,11,4,78:37,41,80
1,2,Chelsea,42,21,8,9,69:33,36,71
2,3,Man City,42,21,8,9,60:33,27,71
3,4,Arsenal,42,19,11,8,72:43,29,68
4,5,Tottenham,42,16,14,8,55:46,9,62
5,6,Liverpool,42,17,7,14,59:44,15,58
6,7,Everton,42,13,15,10,51:45,6,54
7,8,Fulham,42,11,16,11,49:43,6,49
8,9,Aston Villa,42,12,12,14,48:59,-11,48
9,10,Sunderland,42,12,11,15,45:56,-11,47
10,11,West Brom,42,12,11,15,56:71,-15,47
11,12,Newcastle,42,11,13,14,56:57,-1,46
12,13,Stoke City,42,13,7,18,46:48,-2,46
13,14,Bolton,42,12,10,16,52:56,-4,46
14,15,Blackburn,42,11,10,17,46:59,-13,43
15,16,Wigan,42,9,15,14,40:61,-21,42
16,17,Wolves,42,11,7,20,46:66,-20,40
17,18,Birmingham,42,8,15,15,37:58,-21,39
18,19,Blackpool,42,10,9,19,55:78,-23,39
19,20,West Ham,42,7,12,19,43:70,-27,33

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,23,11,4,78:37,41,80
1,2,Chelsea,42,21,8,9,69:33,36,71
2,3,Manchester City,42,21,8,9,60:33,27,71
3,4,Arsenal,42,19,11,8,72:43,29,68
4,5,Tottenham Hotspur,42,16,14,8,55:46,9,62
5,6,Liverpool,42,17,7,14,59:44,15,58
6,7,Everton,42,13,15,10,51:45,6,54
7,8,Fulham,42,11,16,11,49:43,6,49
8,9,Aston Villa,42,12,12,14,48:59,-11,48
9,10,Sunderland,42,12,11,15,45:56,-11,47
10,11,West Bromwich Albion,42,12,11,15,56:71,-15,47
11,12,Newcastle United,42,11,13,14,56:57,-1,46
12,13,Stoke City,42,13,7,18,46:48,-2,46
13,14,Bolton Wanderers,42,12,10,16,52:56,-4,46
14,15,Blackburn Rovers,42,11,10,17,46:59,-13,43
15,16,Wigan Athletic,42,9,15,14,40:61,-21,42
16,17,Wolverhampton Wanderers,42,11,7,20,46:66,-20,40
17,18,Birmingham City,42,8,15,15,37:58,-21,39
18,19,Blackpool,42,10,9,19,55:78,-23,39
19,20,West Ham United,42,7,12,19,43:70,-27,33

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2010/2011')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,23,11,4,78:37,41,80,Sir Alex Ferguson
1,2,Chelsea,42,21,8,9,69:33,36,71,Carlo Ancelotti
2,3,Manchester City,42,21,8,9,60:33,27,71,Roberto Mancini
3,4,Arsenal,42,19,11,8,72:43,29,68,Arsene Wenger
4,5,Tottenham Hotspur,42,16,14,8,55:46,9,62,Harry Redknapp
5,6,Liverpool,42,17,7,14,59:44,15,58,"Roy Hodgson, Sir Kenny Dalglish"
6,7,Everton,42,13,15,10,51:45,6,54,David Moyes
7,8,Fulham,42,11,16,11,49:43,6,49,Mark Hughes
8,9,Aston Villa,42,12,12,14,48:59,-11,48,"Gerard Houllier, Kevin MacDonald"
9,10,Sunderland,42,12,11,15,45:56,-11,47,Steve Bruce
10,11,West Bromwich Albion,42,12,11,15,56:71,-15,47,"Michael Appleton, Roberto Di Matteo, Roy Hodgson"
11,12,Newcastle United,42,11,13,14,56:57,-1,46,"Alan Pardew, Chris Hughton"
12,13,Stoke City,42,13,7,18,46:48,-2,46,Tony Pulis
13,14,Bolton Wanderers,42,12,10,16,52:56,-4,46,Owen Coyle
14,15,Blackburn Rovers,42,11,10,17,46:59,-13,43,"Sam Allardyce, Steve Kean"
15,16,Wigan Athletic,42,9,15,14,40:61,-21,42,Roberto Martinez
16,17,Wolverhampton Wanderers,42,11,7,20,46:66,-20,40,Mick McCarthy
17,18,Birmingham City,42,8,15,15,37:58,-21,39,Alex McLeish
18,19,Blackpool,42,10,9,19,55:78,-23,39,Ian Holloway
19,20,West Ham United,42,7,12,19,43:70,-27,33,"Avram Grant, Kevin Keen"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2010/2011'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2010/2011,1,MUN,Manchester United,42,23,11,4,78:37,41,80,Sir Alex Ferguson
1,2010/2011,2,CHE,Chelsea,42,21,8,9,69:33,36,71,Carlo Ancelotti
2,2010/2011,3,MCI,Manchester City,42,21,8,9,60:33,27,71,Roberto Mancini
3,2010/2011,4,ARS,Arsenal,42,19,11,8,72:43,29,68,Arsene Wenger
4,2010/2011,5,THO,Tottenham Hotspur,42,16,14,8,55:46,9,62,Harry Redknapp
5,2010/2011,6,LIV,Liverpool,42,17,7,14,59:44,15,58,"Roy Hodgson, Sir Kenny Dalglish"
6,2010/2011,7,EVE,Everton,42,13,15,10,51:45,6,54,David Moyes
7,2010/2011,8,FUL,Fulham,42,11,16,11,49:43,6,49,Mark Hughes
8,2010/2011,9,AVI,Aston Villa,42,12,12,14,48:59,-11,48,"Gerard Houllier, Kevin MacDonald"
9,2010/2011,10,SUN,Sunderland,42,12,11,15,45:56,-11,47,Steve Bruce
10,2010/2011,11,WBR,West Bromwich Albion,42,12,11,15,56:71,-15,47,"Michael Appleton, Roberto Di Matteo, Roy Hodgson"
11,2010/2011,12,NUN,Newcastle United,42,11,13,14,56:57,-1,46,"Alan Pardew, Chris Hughton"
12,2010/2011,13,SCI,Stoke City,42,13,7,18,46:48,-2,46,Tony Pulis
13,2010/2011,14,BWA,Bolton Wanderers,42,12,10,16,52:56,-4,46,Owen Coyle
14,2010/2011,15,BRO,Blackburn Rovers,42,11,10,17,46:59,-13,43,"Sam Allardyce, Steve Kean"
15,2010/2011,16,WGA,Wigan Athletic,42,9,15,14,40:61,-21,42,Roberto Martinez
16,2010/2011,17,WWA,Wolverhampton Wanderers,42,11,7,20,46:66,-20,40,Mick McCarthy
17,2010/2011,18,BCI,Birmingham City,42,8,15,15,37:58,-21,39,Alex McLeish
18,2010/2011,19,BLA,Blackpool,42,10,9,19,55:78,-23,39,Ian Holloway
19,2010/2011,20,WHA,West Ham United,42,7,12,19,43:70,-27,33,"Avram Grant, Kevin Keen"

In [17]:
updated_league_table.to_csv('2010_2011 League Table.csv')