In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1997"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Arsenal,42,23,9,6,68:33,35,78
1,2,Man Utd,42,23,8,7,73:26,47,77
2,3,Liverpool,42,18,11,9,68:42,26,65
3,4,Chelsea,42,20,3,15,71:43,28,63
4,5,Leeds,42,17,8,13,57:46,11,59
5,6,Blackburn,42,16,10,12,57:52,5,58
6,7,Aston Villa,42,17,6,15,49:48,1,57
7,8,West Ham,42,16,8,14,56:57,-1,56
8,9,Derby,42,16,7,15,52:49,3,55
9,10,Leicester,42,13,14,11,51:41,10,53
10,11,Coventry,42,12,16,10,46:44,2,52
11,12,Southampton,42,14,6,18,50:55,-5,48
12,13,Newcastle,42,11,11,16,35:44,-9,44
13,14,Tottenham,42,11,11,16,44:56,-12,44
14,15,Wimbledon FC,42,10,14,14,34:46,-12,44
15,16,Sheff Wed,42,12,8,18,52:67,-15,44
16,17,Everton,42,9,13,16,41:56,-15,40
17,18,Bolton,42,9,13,16,41:61,-20,40
18,19,Barnsley FC,42,10,5,23,37:82,-45,35
19,20,Crystal Palace,42,8,9,21,37:71,-34,33

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Arsenal,42,23,9,6,68:33,35,78
1,2,Manchester United,42,23,8,7,73:26,47,77
2,3,Liverpool,42,18,11,9,68:42,26,65
3,4,Chelsea,42,20,3,15,71:43,28,63
4,5,Leeds United,42,17,8,13,57:46,11,59
5,6,Blackburn Rovers,42,16,10,12,57:52,5,58
6,7,Aston Villa,42,17,6,15,49:48,1,57
7,8,West Ham United,42,16,8,14,56:57,-1,56
8,9,Derby County,42,16,7,15,52:49,3,55
9,10,Leicester City,42,13,14,11,51:41,10,53
10,11,Coventry City,42,12,16,10,46:44,2,52
11,12,Southampton,42,14,6,18,50:55,-5,48
12,13,Newcastle United,42,11,11,16,35:44,-9,44
13,14,Tottenham Hotspur,42,11,11,16,44:56,-12,44
14,15,Wimbledon,42,10,14,14,34:46,-12,44
15,16,Sheffield Wednesday,42,12,8,18,52:67,-15,44
16,17,Everton,42,9,13,16,41:56,-15,40
17,18,Bolton Wanderers,42,9,13,16,41:61,-20,40
18,19,Barnsley,42,10,5,23,37:82,-45,35
19,20,Crystal Palace,42,8,9,21,37:71,-34,33

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '1997/1998')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Arsenal,42,23,9,6,68:33,35,78,Arsene Wenger
1,2,Manchester United,42,23,8,7,73:26,47,77,Sir Alex Ferguson
2,3,Liverpool,42,18,11,9,68:42,26,65,Roy Evans
3,4,Chelsea,42,20,3,15,71:43,28,63,"Gianluca Vialli, Ruud Gullit"
4,5,Leeds United,42,17,8,13,57:46,11,59,George Graham
5,6,Blackburn Rovers,42,16,10,12,57:52,5,58,Roy Hodgson
6,7,Aston Villa,42,17,6,15,49:48,1,57,"Brian Little, John Gregory"
7,8,West Ham United,42,16,8,14,56:57,-1,56,Harry Redknapp
8,9,Derby County,42,16,7,15,52:49,3,55,Jim Smith
9,10,Leicester City,42,13,14,11,51:41,10,53,Martin O'Neill
10,11,Coventry City,42,12,16,10,46:44,2,52,Gordon Strachan
11,12,Southampton,42,14,6,18,50:55,-5,48,Dave Jones
12,13,Newcastle United,42,11,11,16,35:44,-9,44,Sir Kenny Dalglish
13,14,Tottenham Hotspur,42,11,11,16,44:56,-12,44,"Christian Gross, Gerry Francis"
14,15,Wimbledon,42,10,14,14,34:46,-12,44,Joe Kinnear
15,16,Sheffield Wednesday,42,12,8,18,52:67,-15,44,"David Pleat, Peter Shreeves, Ron Atkinson"
16,17,Everton,42,9,13,16,41:56,-15,40,Howard Kendall
17,18,Bolton Wanderers,42,9,13,16,41:61,-20,40,Colin Todd
18,19,Barnsley,42,10,5,23,37:82,-45,35,Danny Wilson
19,20,Crystal Palace,42,8,9,21,37:71,-34,33,"Attilio Lombardo, Ray Lewington, Ron Noades"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1997/1998'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1997/1998,1,ARS,Arsenal,42,23,9,6,68:33,35,78,Arsene Wenger
1,1997/1998,2,MUN,Manchester United,42,23,8,7,73:26,47,77,Sir Alex Ferguson
2,1997/1998,3,LIV,Liverpool,42,18,11,9,68:42,26,65,Roy Evans
3,1997/1998,4,CHE,Chelsea,42,20,3,15,71:43,28,63,"Gianluca Vialli, Ruud Gullit"
4,1997/1998,5,LUN,Leeds United,42,17,8,13,57:46,11,59,George Graham
5,1997/1998,6,BRO,Blackburn Rovers,42,16,10,12,57:52,5,58,Roy Hodgson
6,1997/1998,7,AVI,Aston Villa,42,17,6,15,49:48,1,57,"Brian Little, John Gregory"
7,1997/1998,8,WHA,West Ham United,42,16,8,14,56:57,-1,56,Harry Redknapp
8,1997/1998,9,DCO,Derby County,42,16,7,15,52:49,3,55,Jim Smith
9,1997/1998,10,LCI,Leicester City,42,13,14,11,51:41,10,53,Martin O'Neill
10,1997/1998,11,COV,Coventry City,42,12,16,10,46:44,2,52,Gordon Strachan
11,1997/1998,12,SOU,Southampton,42,14,6,18,50:55,-5,48,Dave Jones
12,1997/1998,13,NUN,Newcastle United,42,11,11,16,35:44,-9,44,Sir Kenny Dalglish
13,1997/1998,14,THO,Tottenham Hotspur,42,11,11,16,44:56,-12,44,"Christian Gross, Gerry Francis"
14,1997/1998,15,WIM,Wimbledon,42,10,14,14,34:46,-12,44,Joe Kinnear
15,1997/1998,16,SWE,Sheffield Wednesday,42,12,8,18,52:67,-15,44,"David Pleat, Peter Shreeves, Ron Atkinson"
16,1997/1998,17,EVE,Everton,42,9,13,16,41:56,-15,40,Howard Kendall
17,1997/1998,18,BWA,Bolton Wanderers,42,9,13,16,41:61,-20,40,Colin Todd
18,1997/1998,19,BAR,Barnsley,42,10,5,23,37:82,-45,35,Danny Wilson
19,1997/1998,20,CPA,Crystal Palace,42,8,9,21,37:71,-34,33,"Attilio Lombardo, Ray Lewington, Ron Noades"

In [17]:
updated_league_table.to_csv('1997_1998 League Table.csv')