In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1995"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,25,7,6,73:35,38,82
1,2,Newcastle,42,24,6,8,66:37,29,78
2,3,Liverpool,42,20,11,7,70:34,36,71
3,4,Aston Villa,42,18,9,11,52:35,17,63
4,5,Arsenal,42,17,12,9,49:32,17,63
5,6,Everton,42,17,10,11,64:44,20,61
6,7,Blackburn,42,18,7,13,61:47,14,61
7,8,Tottenham,42,16,13,9,50:38,12,61
8,9,Nottm Forest,42,15,13,10,50:54,-4,58
9,10,West Ham,42,14,9,15,43:52,-9,51
10,11,Chelsea,42,12,14,12,46:44,2,50
11,12,Middlesbrough,42,11,10,17,35:50,-15,43
12,13,Leeds,42,12,7,19,40:57,-17,43
13,14,Wimbledon FC,42,10,11,17,55:70,-15,41
14,15,Sheff Wed,42,10,10,18,48:61,-13,40
15,16,Coventry,42,8,14,16,42:60,-18,38
16,17,Southampton,42,9,11,18,34:52,-18,38
17,18,Man City,42,9,11,18,33:58,-25,38
18,19,QPR,42,9,6,23,38:57,-19,33
19,20,Bolton,42,8,5,25,39:71,-32,29

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,25,7,6,73:35,38,82
1,2,Newcastle United,42,24,6,8,66:37,29,78
2,3,Liverpool,42,20,11,7,70:34,36,71
3,4,Aston Villa,42,18,9,11,52:35,17,63
4,5,Arsenal,42,17,12,9,49:32,17,63
5,6,Everton,42,17,10,11,64:44,20,61
6,7,Blackburn Rovers,42,18,7,13,61:47,14,61
7,8,Tottenham Hotspur,42,16,13,9,50:38,12,61
8,9,Nottingham Forest,42,15,13,10,50:54,-4,58
9,10,West Ham United,42,14,9,15,43:52,-9,51
10,11,Chelsea,42,12,14,12,46:44,2,50
11,12,Middlesbrough,42,11,10,17,35:50,-15,43
12,13,Leeds United,42,12,7,19,40:57,-17,43
13,14,Wimbledon,42,10,11,17,55:70,-15,41
14,15,Sheffield Wednesday,42,10,10,18,48:61,-13,40
15,16,Coventry City,42,8,14,16,42:60,-18,38
16,17,Southampton,42,9,11,18,34:52,-18,38
17,18,Manchester City,42,9,11,18,33:58,-25,38
18,19,Queens Park Rangers,42,9,6,23,38:57,-19,33
19,20,Bolton Wanderers,42,8,5,25,39:71,-32,29

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '1995/1996')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,25,7,6,73:35,38,82,Sir Alex Ferguson
1,2,Newcastle United,42,24,6,8,66:37,29,78,Kevin Keegan
2,3,Liverpool,42,20,11,7,70:34,36,71,Roy Evans
3,4,Aston Villa,42,18,9,11,52:35,17,63,Brian Little
4,5,Arsenal,42,17,12,9,49:32,17,63,Bruce Rioch
5,6,Everton,42,17,10,11,64:44,20,61,Joe Royle
6,7,Blackburn Rovers,42,18,7,13,61:47,14,61,Ray Harford
7,8,Tottenham Hotspur,42,16,13,9,50:38,12,61,Gerry Francis
8,9,Nottingham Forest,42,15,13,10,50:54,-4,58,Frank Clark
9,10,West Ham United,42,14,9,15,43:52,-9,51,Harry Redknapp
10,11,Chelsea,42,12,14,12,46:44,2,50,Glenn Hoddle
11,12,Middlesbrough,42,11,10,17,35:50,-15,43,Bryan Robson
12,13,Leeds United,42,12,7,19,40:57,-17,43,Howard Wilkinson
13,14,Wimbledon,42,10,11,17,55:70,-15,41,Joe Kinnear
14,15,Sheffield Wednesday,42,10,10,18,48:61,-13,40,David Pleat
15,16,Coventry City,42,8,14,16,42:60,-18,38,Ron Atkinson
16,17,Southampton,42,9,11,18,34:52,-18,38,Dave Merrington
17,18,Manchester City,42,9,11,18,33:58,-25,38,Alan Ball
18,19,Queens Park Rangers,42,9,6,23,38:57,-19,33,Ray Wilkins
19,20,Bolton Wanderers,42,8,5,25,39:71,-32,29,"Colin Todd, Roy McFarland"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1995/1996'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1995/1996,1,MUN,Manchester United,42,25,7,6,73:35,38,82,Sir Alex Ferguson
1,1995/1996,2,NUN,Newcastle United,42,24,6,8,66:37,29,78,Kevin Keegan
2,1995/1996,3,LIV,Liverpool,42,20,11,7,70:34,36,71,Roy Evans
3,1995/1996,4,AVI,Aston Villa,42,18,9,11,52:35,17,63,Brian Little
4,1995/1996,5,ARS,Arsenal,42,17,12,9,49:32,17,63,Bruce Rioch
5,1995/1996,6,EVE,Everton,42,17,10,11,64:44,20,61,Joe Royle
6,1995/1996,7,BRO,Blackburn Rovers,42,18,7,13,61:47,14,61,Ray Harford
7,1995/1996,8,THO,Tottenham Hotspur,42,16,13,9,50:38,12,61,Gerry Francis
8,1995/1996,9,NFO,Nottingham Forest,42,15,13,10,50:54,-4,58,Frank Clark
9,1995/1996,10,WHA,West Ham United,42,14,9,15,43:52,-9,51,Harry Redknapp
10,1995/1996,11,CHE,Chelsea,42,12,14,12,46:44,2,50,Glenn Hoddle
11,1995/1996,12,MID,Middlesbrough,42,11,10,17,35:50,-15,43,Bryan Robson
12,1995/1996,13,LUN,Leeds United,42,12,7,19,40:57,-17,43,Howard Wilkinson
13,1995/1996,14,WIM,Wimbledon,42,10,11,17,55:70,-15,41,Joe Kinnear
14,1995/1996,15,SWE,Sheffield Wednesday,42,10,10,18,48:61,-13,40,David Pleat
15,1995/1996,16,COV,Coventry City,42,8,14,16,42:60,-18,38,Ron Atkinson
16,1995/1996,17,SOU,Southampton,42,9,11,18,34:52,-18,38,Dave Merrington
17,1995/1996,18,MCI,Manchester City,42,9,11,18,33:58,-25,38,Alan Ball
18,1995/1996,19,QPA,Queens Park Rangers,42,9,6,23,38:57,-19,33,Ray Wilkins
19,1995/1996,20,BWA,Bolton Wanderers,42,8,5,25,39:71,-32,29,"Colin Todd, Roy McFarland"

In [17]:
updated_league_table.to_csv('1995_1996 League Table.csv')