In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [3]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1992"
driver.get(url)

In [4]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [5]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [6]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [7]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [8]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [9]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [10]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,24,12,6,67:31,36,84
1,2,Aston Villa,42,21,11,10,57:40,17,74
2,3,Norwich,42,21,9,12,61:65,-4,72
3,4,Blackburn,42,20,11,11,68:46,22,71
4,5,QPR,42,17,12,13,63:55,8,63
5,6,Liverpool,42,16,11,15,62:55,7,59
6,7,Sheff Wed,42,15,14,13,55:51,4,59
7,8,Tottenham,42,16,11,15,60:66,-6,59
8,9,Man City,42,15,12,15,56:51,5,57
9,10,Arsenal,42,15,11,16,40:38,2,56
10,11,Chelsea,42,14,14,14,51:54,-3,56
11,12,Wimbledon FC,42,14,12,16,56:55,1,54
12,13,Everton,42,15,8,19,53:55,-2,53
13,14,Sheff Utd,42,14,10,18,54:53,1,52
14,15,Coventry,42,13,13,16,52:57,-5,52
15,16,Ipswich,42,12,16,14,50:55,-5,52
16,17,Leeds,42,12,15,15,57:62,-5,51
17,18,Southampton,42,13,11,18,54:61,-7,50
18,19,Oldham Athletic,42,13,10,19,63:74,-11,49
19,20,Crystal Palace,42,11,16,15,48:61,-13,49
20,21,Middlesbrough,42,11,11,20,54:75,-21,44
21,22,Nottm Forest,42,10,10,22,41:62,-21,40

In [11]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers'}, inplace=True)

In [12]:
# Close the driver
driver.quit()

In [13]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,24,12,6,67:31,36,84
1,2,Aston Villa,42,21,11,10,57:40,17,74
2,3,Norwich City,42,21,9,12,61:65,-4,72
3,4,Blackburn Rovers,42,20,11,11,68:46,22,71
4,5,Queens Park Rangers,42,17,12,13,63:55,8,63
5,6,Liverpool,42,16,11,15,62:55,7,59
6,7,Sheffield Wednesday,42,15,14,13,55:51,4,59
7,8,Tottenham Hotspur,42,16,11,15,60:66,-6,59
8,9,Manchester City,42,15,12,15,56:51,5,57
9,10,Arsenal,42,15,11,16,40:38,2,56
10,11,Chelsea,42,14,14,14,51:54,-3,56
11,12,Wimbledon,42,14,12,16,56:55,1,54
12,13,Everton,42,15,8,19,53:55,-2,53
13,14,Sheffield United,42,14,10,18,54:53,1,52
14,15,Coventry City,42,13,13,16,52:57,-5,52
15,16,Ipswich Town,42,12,16,14,50:55,-5,52
16,17,Leeds United,42,12,15,15,57:62,-5,51
17,18,Southampton,42,13,11,18,54:61,-7,50
18,19,Oldham Athletic,42,13,10,19,63:74,-11,49
19,20,Crystal Palace,42,11,16,15,48:61,-13,49
20,21,Middlesbrough,42,11,11,20,54:75,-21,44
21,22,Nottingham Forest,42,10,10,22,41:62,-21,40

In [14]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [15]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [16]:
updated_league_table = add_managers_to_league_table(df2, df, '1992/1993')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,24,12,6,67:31,36,84,Sir Alex Ferguson
1,2,Aston Villa,42,21,11,10,57:40,17,74,Ron Atkinson
2,3,Norwich City,42,21,9,12,61:65,-4,72,Mike Walker
3,4,Blackburn Rovers,42,20,11,11,68:46,22,71,Sir Kenny Dalglish
4,5,Queens Park Rangers,42,17,12,13,63:55,8,63,Gerry Francis
5,6,Liverpool,42,16,11,15,62:55,7,59,Graeme Souness
6,7,Sheffield Wednesday,42,15,14,13,55:51,4,59,Trevor Francis
7,8,Tottenham Hotspur,42,16,11,15,60:66,-6,59,Ray Clemence
8,9,Manchester City,42,15,12,15,56:51,5,57,Peter Reid
9,10,Arsenal,42,15,11,16,40:38,2,56,George Graham
10,11,Chelsea,42,14,14,14,51:54,-3,56,"David Webb, Ian Porterfield"
11,12,Wimbledon,42,14,12,16,56:55,1,54,Joe Kinnear
12,13,Everton,42,15,8,19,53:55,-2,53,Howard Kendall
13,14,Sheffield United,42,14,10,18,54:53,1,52,Dave Bassett
14,15,Coventry City,42,13,13,16,52:57,-5,52,Bobby Gould
15,16,Ipswich Town,42,12,16,14,50:55,-5,52,John Lyall
16,17,Leeds United,42,12,15,15,57:62,-5,51,Howard Wilkinson
17,18,Southampton,42,13,11,18,54:61,-7,50,Ian Branfoot
18,19,Oldham Athletic,42,13,10,19,63:74,-11,49,Joe Royle
19,20,Crystal Palace,42,11,16,15,48:61,-13,49,Steve Coppell
20,21,Middlesbrough,42,11,11,20,54:75,-21,44,Lennie Lawrence
21,22,Nottingham Forest,42,10,10,22,41:62,-21,40,Brian Clough

In [17]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1992/1993'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1992/1993,1,MUN,Manchester United,42,24,12,6,67:31,36,84,Sir Alex Ferguson
1,1992/1993,2,AVI,Aston Villa,42,21,11,10,57:40,17,74,Ron Atkinson
2,1992/1993,3,NCI,Norwich City,42,21,9,12,61:65,-4,72,Mike Walker
3,1992/1993,4,BRO,Blackburn Rovers,42,20,11,11,68:46,22,71,Sir Kenny Dalglish
4,1992/1993,5,QPA,Queens Park Rangers,42,17,12,13,63:55,8,63,Gerry Francis
5,1992/1993,6,LIV,Liverpool,42,16,11,15,62:55,7,59,Graeme Souness
6,1992/1993,7,SWE,Sheffield Wednesday,42,15,14,13,55:51,4,59,Trevor Francis
7,1992/1993,8,THO,Tottenham Hotspur,42,16,11,15,60:66,-6,59,Ray Clemence
8,1992/1993,9,MCI,Manchester City,42,15,12,15,56:51,5,57,Peter Reid
9,1992/1993,10,ARS,Arsenal,42,15,11,16,40:38,2,56,George Graham
10,1992/1993,11,CHE,Chelsea,42,14,14,14,51:54,-3,56,"David Webb, Ian Porterfield"
11,1992/1993,12,WIM,Wimbledon,42,14,12,16,56:55,1,54,Joe Kinnear
12,1992/1993,13,EVE,Everton,42,15,8,19,53:55,-2,53,Howard Kendall
13,1992/1993,14,SHU,Sheffield United,42,14,10,18,54:53,1,52,Dave Bassett
14,1992/1993,15,COV,Coventry City,42,13,13,16,52:57,-5,52,Bobby Gould
15,1992/1993,16,ITO,Ipswich Town,42,12,16,14,50:55,-5,52,John Lyall
16,1992/1993,17,LUN,Leeds United,42,12,15,15,57:62,-5,51,Howard Wilkinson
17,1992/1993,18,SOU,Southampton,42,13,11,18,54:61,-7,50,Ian Branfoot
18,1992/1993,19,OAT,Oldham Athletic,42,13,10,19,63:74,-11,49,Joe Royle
19,1992/1993,20,CPA,Crystal Palace,42,11,16,15,48:61,-13,49,Steve Coppell
20,1992/1993,21,MID,Middlesbrough,42,11,11,20,54:75,-21,44,Lennie Lawrence
21,1992/1993,22,NFO,Nottingham Forest,42,10,10,22,41:62,-21,40,Brian Clough

In [20]:
updated_league_table.to_csv('1992_1993 League Table.csv')