In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/2014"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,26,9,3,73:32,41,87
1,2,Man City,42,24,7,7,83:38,45,79
2,3,Arsenal,42,22,9,7,71:36,35,75
3,4,Man Utd,42,20,10,8,62:37,25,70
4,5,Tottenham,42,19,7,12,58:53,5,64
5,6,Liverpool,42,18,8,12,52:48,4,62
6,7,Southampton,42,18,6,14,54:33,21,60
7,8,Swansea,42,16,8,14,46:49,-3,56
8,9,Stoke City,42,15,9,14,48:45,3,54
9,10,Crystal Palace,42,13,9,16,47:51,-4,48
10,11,Everton,42,12,11,15,48:50,-2,47
11,12,West Ham,42,12,11,15,44:47,-3,47
12,13,West Brom,42,11,11,16,38:51,-13,44
13,14,Leicester,42,11,8,19,46:55,-9,41
14,15,Newcastle,42,10,9,19,40:63,-23,39
15,16,Sunderland,42,7,17,14,31:53,-22,38
16,17,Aston Villa,42,10,8,20,31:57,-26,38
17,18,Hull City,42,8,11,19,33:51,-18,35
18,19,Burnley,42,7,12,19,28:53,-25,33
19,20,QPR,42,8,6,24,42:73,-31,30

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County', 'Barnsley FC': 'Barnsley', 'Charlton': 'Charlton Athletic', 'Bradford': 'Bradford City', 'West Brom': 'West Bromwich Albion', 'Birmingham': 'Birmingham City', 'Wolves': 'Wolverhampton Wanderers', 'Wigan': 'Wigan Athletic', 'Swansea': 'Swansea City', 'Cardiff': 'Cardiff City'}, inplace=True)

In [11]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Chelsea,42,26,9,3,73:32,41,87
1,2,Manchester City,42,24,7,7,83:38,45,79
2,3,Arsenal,42,22,9,7,71:36,35,75
3,4,Manchester United,42,20,10,8,62:37,25,70
4,5,Tottenham Hotspur,42,19,7,12,58:53,5,64
5,6,Liverpool,42,18,8,12,52:48,4,62
6,7,Southampton,42,18,6,14,54:33,21,60
7,8,Swansea City,42,16,8,14,46:49,-3,56
8,9,Stoke City,42,15,9,14,48:45,3,54
9,10,Crystal Palace,42,13,9,16,47:51,-4,48
10,11,Everton,42,12,11,15,48:50,-2,47
11,12,West Ham United,42,12,11,15,44:47,-3,47
12,13,West Bromwich Albion,42,11,11,16,38:51,-13,44
13,14,Leicester City,42,11,8,19,46:55,-9,41
14,15,Newcastle United,42,10,9,19,40:63,-23,39
15,16,Sunderland,42,7,17,14,31:53,-22,38
16,17,Aston Villa,42,10,8,20,31:57,-26,38
17,18,Hull City,42,8,11,19,33:51,-18,35
18,19,Burnley,42,7,12,19,28:53,-25,33
19,20,Queens Park Rangers,42,8,6,24,42:73,-31,30

In [12]:
# Close the driver
driver.quit()

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '2014/2015')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Chelsea,42,26,9,3,73:32,41,87,Jose Mourinho
1,2,Manchester City,42,24,7,7,83:38,45,79,Manuel Pellegrini
2,3,Arsenal,42,22,9,7,71:36,35,75,Arsene Wenger
3,4,Manchester United,42,20,10,8,62:37,25,70,Louis van Gaal
4,5,Tottenham Hotspur,42,19,7,12,58:53,5,64,Mauricio Pochettino
5,6,Liverpool,42,18,8,12,52:48,4,62,Brendan Rodgers
6,7,Southampton,42,18,6,14,54:33,21,60,Ronald Koeman
7,8,Swansea City,42,16,8,14,46:49,-3,56,Garry Monk
8,9,Stoke City,42,15,9,14,48:45,3,54,Mark Hughes
9,10,Crystal Palace,42,13,9,16,47:51,-4,48,"Alan Pardew, Keith Millen, Neil Warnock"
10,11,Everton,42,12,11,15,48:50,-2,47,Roberto Martinez
11,12,West Ham United,42,12,11,15,44:47,-3,47,Sam Allardyce
12,13,West Bromwich Albion,42,11,11,16,38:51,-13,44,"Alan Irvine, Tony Pulis"
13,14,Leicester City,42,11,8,19,46:55,-9,41,Nigel Pearson
14,15,Newcastle United,42,10,9,19,40:63,-23,39,"Alan Pardew, John Carver"
15,16,Sunderland,42,7,17,14,31:53,-22,38,"Dick Advocaat, Gustavo Poyet"
16,17,Aston Villa,42,10,8,20,31:57,-26,38,"Paul Lambert, Tim Sherwood"
17,18,Hull City,42,8,11,19,33:51,-18,35,Steve Bruce
18,19,Burnley,42,7,12,19,28:53,-25,33,Sean Dyche
19,20,Queens Park Rangers,42,8,6,24,42:73,-31,30,"Chris Ramsey, Harry Redknapp"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '2014/2015'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,2014/2015,1,CHE,Chelsea,42,26,9,3,73:32,41,87,Jose Mourinho
1,2014/2015,2,MCI,Manchester City,42,24,7,7,83:38,45,79,Manuel Pellegrini
2,2014/2015,3,ARS,Arsenal,42,22,9,7,71:36,35,75,Arsene Wenger
3,2014/2015,4,MUN,Manchester United,42,20,10,8,62:37,25,70,Louis van Gaal
4,2014/2015,5,THO,Tottenham Hotspur,42,19,7,12,58:53,5,64,Mauricio Pochettino
5,2014/2015,6,LIV,Liverpool,42,18,8,12,52:48,4,62,Brendan Rodgers
6,2014/2015,7,SOU,Southampton,42,18,6,14,54:33,21,60,Ronald Koeman
7,2014/2015,8,SWA,Swansea City,42,16,8,14,46:49,-3,56,Garry Monk
8,2014/2015,9,SCI,Stoke City,42,15,9,14,48:45,3,54,Mark Hughes
9,2014/2015,10,CPA,Crystal Palace,42,13,9,16,47:51,-4,48,"Alan Pardew, Keith Millen, Neil Warnock"
10,2014/2015,11,EVE,Everton,42,12,11,15,48:50,-2,47,Roberto Martinez
11,2014/2015,12,WHA,West Ham United,42,12,11,15,44:47,-3,47,Sam Allardyce
12,2014/2015,13,WBR,West Bromwich Albion,42,11,11,16,38:51,-13,44,"Alan Irvine, Tony Pulis"
13,2014/2015,14,LCI,Leicester City,42,11,8,19,46:55,-9,41,Nigel Pearson
14,2014/2015,15,NUN,Newcastle United,42,10,9,19,40:63,-23,39,"Alan Pardew, John Carver"
15,2014/2015,16,SUN,Sunderland,42,7,17,14,31:53,-22,38,"Dick Advocaat, Gustavo Poyet"
16,2014/2015,17,AVI,Aston Villa,42,10,8,20,31:57,-26,38,"Paul Lambert, Tim Sherwood"
17,2014/2015,18,HCI,Hull City,42,8,11,19,33:51,-18,35,Steve Bruce
18,2014/2015,19,BUR,Burnley,42,7,12,19,28:53,-25,33,Sean Dyche
19,2014/2015,20,QPA,Queens Park Rangers,42,8,6,24,42:73,-31,30,"Chris Ramsey, Harry Redknapp"

In [17]:
updated_league_table.to_csv('2014_2015 League Table.csv')