In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome()
url = "https://www.transfermarkt.com/premier-league/tabelle/wettbewerb/GB1/saison_id/1996"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
# Wait for the page to load
time.sleep(5)  # Adjust as needed for your internet speed

In [5]:
table = soup.find('table', {'class':'items'})
rows = table.find_all('tr')

In [6]:
position = []
teams = []
played_games = []
wins = []
draws = []
losses = []
goals = []
goal_diff = []
points = []
team_ids = []

In [7]:
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    if len(cols) > 0:
        position.append(cols[0].text.strip())  # Position
        teams.append(cols[2].text.strip())  # Team name (adjusted index)
        played_games.append(42)  # Games played (constant value)
        wins.append(cols[4].text.strip())  # Wins
        draws.append(cols[5].text.strip())  # Draws
        losses.append(cols[6].text.strip())  # Losses
        goals.append(cols[7].text.strip())  # Goals (For:Against)
        goal_diff.append(cols[8].text.strip())  # Goal difference (adjusted index)
        points.append(cols[9].text.strip())  # Points (adjusted index)

In [8]:
df = pd.DataFrame({
    'Position': position,
    'Team': teams,
    'Played': played_games,
    'Wins': wins,
    'Draws': draws,
    'Losses': losses,
    'Goals': goals,
    'Goal Difference': goal_diff,
    'Points': points
})

In [9]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Man Utd,42,21,12,5,76:44,32,75
1,2,Newcastle,42,19,11,8,73:40,33,68
2,3,Arsenal,42,19,11,8,62:32,30,68
3,4,Liverpool,42,19,11,8,62:37,25,68
4,5,Aston Villa,42,17,10,11,47:34,13,61
5,6,Chelsea,42,16,11,11,58:55,3,59
6,7,Sheff Wed,42,14,15,9,50:51,-1,57
7,8,Wimbledon FC,42,15,11,12,49:46,3,56
8,9,Leicester,42,12,11,15,46:54,-8,47
9,10,Tottenham,42,13,7,18,44:51,-7,46
10,11,Leeds,42,11,13,14,28:38,-10,46
11,12,Derby,42,11,13,14,45:58,-13,46
12,13,Blackburn,42,9,15,14,42:43,-1,42
13,14,West Ham,42,10,12,16,39:48,-9,42
14,15,Everton,42,10,12,16,44:57,-13,42
15,16,Southampton,42,10,11,17,50:56,-6,41
16,17,Coventry,42,9,14,15,38:54,-16,41
17,18,Sunderland,42,10,10,18,35:53,-18,40
18,19,Middlesbrough,42,10,12,16,51:60,-9,39
19,20,Nottm Forest,42,6,16,16,31:59,-28,34

In [10]:
df.replace({'Man City': 'Manchester City', 'Man Utd': 'Manchester United', 'Sheff Utd': 'Sheffield United', 'Sheff Wed': 'Sheffield Wednesday', 'Nottm Forest': 'Nottingham Forest', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers', 'Leeds': 'Leeds United', 'Ipswich': 'Ipswich Town', 'Coventry': 'Coventry City', 'Wimbledon FC': 'Wimbledon', 'Tottenham': 'Tottenham Hotspur', 'Norwich': 'Norwich City', 'Blackburn': 'Blackburn Rovers', 'Newcastle': 'Newcastle United', 'West Ham': 'West Ham United', 'Leicester': 'Leicester City', 'Bolton': 'Bolton Wanderers', 'Derby': 'Derby County'}, inplace=True)

In [11]:
# Close the driver
driver.quit()

In [12]:
df.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points
0,1,Manchester United,42,21,12,5,76:44,32,75
1,2,Newcastle United,42,19,11,8,73:40,33,68
2,3,Arsenal,42,19,11,8,62:32,30,68
3,4,Liverpool,42,19,11,8,62:37,25,68
4,5,Aston Villa,42,17,10,11,47:34,13,61
5,6,Chelsea,42,16,11,11,58:55,3,59
6,7,Sheffield Wednesday,42,14,15,9,50:51,-1,57
7,8,Wimbledon,42,15,11,12,49:46,3,56
8,9,Leicester City,42,12,11,15,46:54,-8,47
9,10,Tottenham Hotspur,42,13,7,18,44:51,-7,46
10,11,Leeds United,42,11,13,14,28:38,-10,46
11,12,Derby County,42,11,13,14,45:58,-13,46
12,13,Blackburn Rovers,42,9,15,14,42:43,-1,42
13,14,West Ham United,42,10,12,16,39:48,-9,42
14,15,Everton,42,10,12,16,44:57,-13,42
15,16,Southampton,42,10,11,17,50:56,-6,41
16,17,Coventry City,42,9,14,15,38:54,-16,41
17,18,Sunderland,42,10,10,18,35:53,-18,40
18,19,Middlesbrough,42,10,12,16,51:60,-9,39
19,20,Nottingham Forest,42,6,16,16,31:59,-28,34

In [13]:
df2 = pd.read_csv("EPL Matches 1992_1993_2023_2024.csv", index_col=0)

In [14]:
def add_managers_to_league_table(matches_df, league_table_df, season):
    """
    Add a column to the league table dataframe with managers who managed each team during a given season.
    
    Args:
        matches_df (pd.DataFrame): The dataframe containing match data.
        league_table_df (pd.DataFrame): The league table dataframe.
        season (str): The season to look for managers (e.g., '1992/1993').
    
    Returns:
        pd.DataFrame: The updated league table dataframe with a new 'Manager' column.
    """
    # Filter matches for the provided season
    season_matches = matches_df[matches_df['Season'] == season]

    # Create an empty dictionary to hold team names and their corresponding managers
    team_managers = {}

    # Loop through each match to get managers for the home and away teams
    for _, match in season_matches.iterrows():
        # For Home Team
        home_team = match['Home_Team']
        home_manager = match['Manager_Home']
        
        if home_team not in team_managers:
            team_managers[home_team] = set()  # Use a set to avoid duplicates
        team_managers[home_team].add(home_manager)

        # For Away Team
        away_team = match['Away_Team']
        away_manager = match['Manager_Away']
        
        if away_team not in team_managers:
            team_managers[away_team] = set()  # Use a set to avoid duplicates
        team_managers[away_team].add(away_manager)
    
    # Now, for each team in the league table, find their managers and add to the new column
    managers_list = []
    
    for _, row in league_table_df.iterrows():
        team_name = row['Team']
        
        if team_name in team_managers:
            # Convert the set of managers to a sorted list, then to a string
            managers = ', '.join(sorted(team_managers[team_name]))
        else:
            managers = 'Unknown'
        
        managers_list.append(managers)

    # Add the new column to the league table dataframe
    league_table_df['Manager'] = managers_list

    return league_table_df

In [15]:
updated_league_table = add_managers_to_league_table(df2, df, '1996/1997')
updated_league_table.head(23)

,Position,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1,Manchester United,42,21,12,5,76:44,32,75,Sir Alex Ferguson
1,2,Newcastle United,42,19,11,8,73:40,33,68,"Kevin Keegan, Sir Kenny Dalglish, Terry McDermott"
2,3,Arsenal,42,19,11,8,62:32,30,68,"Arsene Wenger, Pat Rice, Stewart Houston"
3,4,Liverpool,42,19,11,8,62:37,25,68,Roy Evans
4,5,Aston Villa,42,17,10,11,47:34,13,61,Brian Little
5,6,Chelsea,42,16,11,11,58:55,3,59,Ruud Gullit
6,7,Sheffield Wednesday,42,14,15,9,50:51,-1,57,David Pleat
7,8,Wimbledon,42,15,11,12,49:46,3,56,Joe Kinnear
8,9,Leicester City,42,12,11,15,46:54,-8,47,Martin O'Neill
9,10,Tottenham Hotspur,42,13,7,18,44:51,-7,46,Gerry Francis
10,11,Leeds United,42,11,13,14,28:38,-10,46,"George Graham, Howard Wilkinson"
11,12,Derby County,42,11,13,14,45:58,-13,46,Jim Smith
12,13,Blackburn Rovers,42,9,15,14,42:43,-1,42,"Ray Harford, Tony Parkes"
13,14,West Ham United,42,10,12,16,39:48,-9,42,Harry Redknapp
14,15,Everton,42,10,12,16,44:57,-13,42,"Dave Watson, Joe Royle"
15,16,Southampton,42,10,11,17,50:56,-6,41,Graeme Souness
16,17,Coventry City,42,9,14,15,38:54,-16,41,"Gordon Strachan, Ron Atkinson"
17,18,Sunderland,42,10,10,18,35:53,-18,40,Peter Reid
18,19,Middlesbrough,42,10,12,16,51:60,-9,39,Bryan Robson
19,20,Nottingham Forest,42,6,16,16,31:59,-28,34,"Dave Bassett, Frank Clark, Stuart Pearce"

In [16]:
df_manager = pd.read_csv("Manager History.csv")
team_id_mapping = dict(zip(df_manager['Team_Name'], df_manager['Team_ID']))
updated_league_table['Team_ID'] = updated_league_table['Team'].map(team_id_mapping)
updated_league_table['Season'] = '1996/1997'
updated_league_table = updated_league_table[['Season', 'Position', 'Team_ID', 'Team', 'Played', 'Wins', 'Draws', 'Losses', 'Goals', 'Goal Difference', 'Points', 'Manager']]
updated_league_table.head(23)

,Season,Position,Team_ID,Team,Played,Wins,Draws,Losses,Goals,Goal Difference,Points,Manager
0,1996/1997,1,MUN,Manchester United,42,21,12,5,76:44,32,75,Sir Alex Ferguson
1,1996/1997,2,NUN,Newcastle United,42,19,11,8,73:40,33,68,"Kevin Keegan, Sir Kenny Dalglish, Terry McDermott"
2,1996/1997,3,ARS,Arsenal,42,19,11,8,62:32,30,68,"Arsene Wenger, Pat Rice, Stewart Houston"
3,1996/1997,4,LIV,Liverpool,42,19,11,8,62:37,25,68,Roy Evans
4,1996/1997,5,AVI,Aston Villa,42,17,10,11,47:34,13,61,Brian Little
5,1996/1997,6,CHE,Chelsea,42,16,11,11,58:55,3,59,Ruud Gullit
6,1996/1997,7,SWE,Sheffield Wednesday,42,14,15,9,50:51,-1,57,David Pleat
7,1996/1997,8,WIM,Wimbledon,42,15,11,12,49:46,3,56,Joe Kinnear
8,1996/1997,9,LCI,Leicester City,42,12,11,15,46:54,-8,47,Martin O'Neill
9,1996/1997,10,THO,Tottenham Hotspur,42,13,7,18,44:51,-7,46,Gerry Francis
10,1996/1997,11,LUN,Leeds United,42,11,13,14,28:38,-10,46,"George Graham, Howard Wilkinson"
11,1996/1997,12,DCO,Derby County,42,11,13,14,45:58,-13,46,Jim Smith
12,1996/1997,13,BRO,Blackburn Rovers,42,9,15,14,42:43,-1,42,"Ray Harford, Tony Parkes"
13,1996/1997,14,WHA,West Ham United,42,10,12,16,39:48,-9,42,Harry Redknapp
14,1996/1997,15,EVE,Everton,42,10,12,16,44:57,-13,42,"Dave Watson, Joe Royle"
15,1996/1997,16,SOU,Southampton,42,10,11,17,50:56,-6,41,Graeme Souness
16,1996/1997,17,COV,Coventry City,42,9,14,15,38:54,-16,41,"Gordon Strachan, Ron Atkinson"
17,1996/1997,18,SUN,Sunderland,42,10,10,18,35:53,-18,40,Peter Reid
18,1996/1997,19,MID,Middlesbrough,42,10,12,16,51:60,-9,39,Bryan Robson
19,1996/1997,20,NFO,Nottingham Forest,42,6,16,16,31:59,-28,34,"Dave Bassett, Frank Clark, Stuart Pearce"

In [17]:
updated_league_table.to_csv('1996_1997 League Table.csv')